                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="selectusers" style="width: 100%;">
                        <select name="list-users" multiple="multiple">
                            {% for user in allusers %}
                                {% if user in board.blocked %}
                                    <option value="{{user.id}}" selected="selected">{{ user.username }}</option>
                                {% else %}
                                    <option value="{{user.id}}">{{ user.username }}</option>
                                {% endif %}                                
                            {% endfor %}
                        </select>                        
                    </div>
                    <input type="hidden" name="board" value="{{ board.id }}">
                    <p><button class="btn grey" name="updateprivacy" value="updateprivacy">Update</button></p>
                </form>