<!DOCTYPE html>
{% load staticfiles %}

<html class="no-js" lang="">

<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">

	<link href="{% static 'css/normalize.css' %}" rel="stylesheet">	
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/social-share-kit.css' %}" rel="stylesheet">
    <link href="{% static 'css/pnotify.custom.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/slidein.css' %}" rel="stylesheet"> 
	{% block extra-css %}{% endblock %}
	<link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body>


<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->


<header id="main">
    <div class="container clearfix">
        <div class="headerLeft">
            <a class="logo" href="{% url 'home' %}"><span>wantbrd</span></a>
            <div class="search">
                <form method="GET" action="{% url 'search' %}">
                    <input
                        type="search"
                        placeholder="Search for item, user or category"
                        name="kw"
                        id="kw"
                        value=""
                        pattern=".{3,}"
                        required
                        title="Please enter at least 3 characters"
                    >
                    <i class="fal fa-search"></i>
                </form>                
            </div>
            <a href="#" class="hlLink">Top Creators</a>
            <a href="#" class="hlLink">Groups</a>
        </div>
        <div class="headerRight">
            <a href="#" class="mobSearch"><i class="fal fa-search"></i></a>
            <a href="#" class="influencerLink">Influencer?</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'my_home' %}" class="btn orange myhome"><span>My Home</span><i class="fal fa-home"></i></a>
                <a href="#0" class="headerPpic js-cd-panel-trigger" data-panel="menu">
                    {% if user.profile.picture %}
                        <div class="circle" style="background-image:url('{{ user.profile.picture.url }}');"></div>
                    {% else %}
                        <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                    {% endif %}
                </a>
                {% if unread_followers or unread_likes %}
                    <i class="fas fa-exclamation"></i>
                {% endif %}

            {% else %}
                <a href="#loginModal" class="btn orange loginregister" rel="modal:open">
                    <span>Login / Register</span>
                    <i class="fas fa-user"></i>
                </a>
            {% endif %}
        </div>
    </div>
</header>


<!-- main content -->
<section id="maincontent">
	{% block body %}{% endblock %}
</section>


<footer>
    <div class="container clearfix">
        
        <div class="fcol">
            <a href="#" class="instagramLink">follow us</a>
            < insta feed >
        </div>

        <div class="fcol">
            <a href="#" class="twitterLink">follow us</a>
            < twitter feed >
        </div>

        <div class="fcol">
            <h5>Explore</h5>
            <nav class="clearfix">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Influencers</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </nav>
            <p class="copy">&copy; {% now "Y" %} Wantbrd | All rights reserved</p>
        </div>

    </div>
</footer>


<div id="loginModal" class="modal">
    <h4>Login</h4>    
    <form method="post" novalidate action="{% url 'login' %}">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn orange">Log in</button>        
        
        <div class="smallLinks">
            <a class="popRegister" href="{% url 'signup' %}">Not yet registered? <strong>Sign up here</strong></a>
            <p><i class="fas fa-unlock-alt"></i> <a href="{% url 'password_reset' %}" class="text-muted">Forgotten password? <u>Click here</u></a></p>
        </div>

    </form>
</div>


{% if request.user.is_authenticated %}
    <div class="cd-panel cd-panel--from-right js-cd-panel-menu">
        <header class="cd-panel__header">
            <h1>{{ request.user.get_full_name}}</h1>
            <span class="popUser">@{{ request.user.username }}</span>
            <a href="#0" class="cd-panel__close js-cd-close">Close</a>
        </header>

        <div class="cd-panel__container account_slide">
            <div class="cd-panel__content">
                <ul>
                    <li><a href="{% url 'u:home' %}"><i class="fal fa-user"></i> <span>Profile</span></a></li>
                    <li><a href="{% url 'b:edit_board' request.user.profile.get_saved_board %}"><i class="fal fa-bookmark"></i> Saved Items</a></li>
                    {% if unread_followers or unread_likes %}
                    <li><a href="{% url 'my_notifications' %}" rel="tooltip" title="
                        {% if unread_likes %}
                        <i class='fas fa-heart likeon'></i> {{ unread_likes }} 
                        {% endif %}
                        {% if unread_followers %}
                        <i class='fal fa-user'></i> {{ unread_followers }}
                        {% endif %}
                    "><i class="fal fa-flag"></i> Notifications <i class="fas fa-exclamation"></i></a></li>
                    {% else %}
                    <li><a href="{% url 'my_notifications' %}"><i class="far fa-flag"></i> Notifications</a></li>
                    {% endif %}
                    <li><a href="{% url 'update_profile' %}"><i class="fal fa-pen"></i> Edit Profile</a></li>
                    <li><a href="{% url 'privacy_settings' %}"><i class="fal fa-cog"></i> Settings &amp; Privacy</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fal fa-sign-out-alt"></i> Logout</a></li>
                </ul>            
            </div>
        </div>
    </div>
{% endif %}

<!-- Constant JS -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script> -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="{% static 'js/jquery.matchHeight-min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/social-share-kit.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/classie.js' %}" type="text/javascript"></script>
<script src="{% static 'js/pnotify.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/slidein.js' %}" type="text/javascript"></script>
<script src="{% static 'js/tooltip.js' %}" type="text/javascript"></script>

<script type="text/javascript">    

    $(document).ready(function() {

        $("#fade").modal({
            fadeDuration: 500
        });

        // select2
        $('select').select2();

        // social
        SocialShareKit.init();
        $(function() {
            $('.match').matchHeight();
        });

        // sticky
        function init() {
            window.addEventListener('scroll', function(e){
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 100,
                    header = document.querySelector("header#main");
                if (distanceY > shrinkOn) {
                    classie.add(header,"shrink");
                } else {
                    if (classie.has(header,"shrink")) {
                        classie.remove(header,"shrink");
                    }
                }
            });
        }
        window.onload = init();

        //tooltip
        (function() {
          $(function() {
            $('.toggle').click(function() {
              return $('.tip').toggle();
            });
            return $(document).mouseup(function(e) {
              var container, popup;
              container = $(".share");
              popup = $('.tip');
              if (container.is(e.target) || container.has(e.target).length) {
                return;
              }
              return popup.hide();
            });
          });

        }).call(this);

    });
    
</script>

<!-- Extra JS -->
{% block extra-js %}{% endblock %}


</body>
</html