<!DOCTYPE html>
{% load staticfiles %}

<html class="no-js" lang="">

<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">

	<link href="{% static 'css/normalize.css' %}" rel="stylesheet">	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" crossorigin="anonymous">
	<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
    <link href="{% static 'css/slidein.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/jquery-filestyle.min.css' %}" rel="stylesheet"> 
	{% block extra-css %}{% endblock %}
	<link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body>


<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->


<header id="main">
    <div class="container clearfix">
        <div class="headerLeft">
            <a class="logo" href="{% url 'home' %}"><span>wantbrd</span></a>
            <div class="search">
                <form method="GET" action="{% url 'search_item' %}">
                    <input
                        type="search"
                        placeholder="Search for item, user or category"
                        name="kw"
                        id="kw"
                        value=""
                        pattern=".{3,}"
                        required
                        title="Please enter at least 3 characters"
                    >
                    <i class="fas fa-search"></i>
                </form>
            </div>
            <a href="#" class="hlLink">Top Creators</a>
            <a href="#" class="hlLink">Groups</a>
        </div>
        <div class="headerRight">
            <a href="#" class="influencerLink">Influencer?</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'my_home' %}" class="btn orange">My Home</a>
                <a href="#0" class="headerPpic js-cd-panel-trigger" data-panel="menu">
                    {% if user.profile.picture %}
                        <div class="circle" style="background-image:url('{{ user.profile.picture.url }}');"></div>
                    {% else %}
                        <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                    {% endif %}
                </a>
            {% else %}
                <a href="#" class="btn orange" data-featherlight="#loginModal">Login / Register</a>
            {% endif %}
        </div>
    </div>
</header>


<!-- main content -->
<section id="maincontent">
	{% block body %}{% endblock %}
</section>


<footer>
    <div class="container clearfix">
        
        <div class="fcol">
            <a href="#" class="instagramLink">follow us</a>
            < insta feed >
        </div>

        <div class="fcol">
            <a href="#" class="twitterLink">follow us</a>
            < twitter feed >
        </div>

        <div class="fcol">
            <h5>Explore</h5>
            <nav class="clearfix">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Influencers</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </nav>
            <p class="copy">&copy; {% now "Y" %} Wantbrd | All rights reserved</p>
        </div>

    </div>
</footer>


<div id="loginModal" class="lightbox">
    <h4>Login</h4>    
    <form method="post" novalidate>
        {% csrf_token %}
        {{ login_form }}
        <button type="submit" class="btn orange">Log in</button>
    </form>
</div>

<div class="cd-panel cd-panel--from-right js-cd-panel-menu">
    <header class="cd-panel__header">
        <h1>{{ request.user.get_full_name}}</h1>
        <span class="popUser">@{{ request.user.username }}</span>
        <a href="#0" class="cd-panel__close js-cd-close">Close</a>
    </header>

    <div class="cd-panel__container account_slide">
        <div class="cd-panel__content">
            <ul>
                <li><a href="{% url 'u:home' %}"><i class="far fa-clipboard"></i> <span>My Boards</span></a>
                <li><a href="{% url 'b:edit_board' request.user.profile.get_saved_board %}"><i class="far fa-bookmark"></i> Saved Items</a>
                <li><a href="#"><i class="far fa-flag"></i> Notifications</a>
                <li><a href="{% url 'update_profile' %}"><i class="far fa-user"></i> Edit Profile</a>
                <li><a href="#"><i class="far fa-check-square"></i> Settings &amp; Privacy</a>
                <li><a href="{% url 'logout' %}"><i class="far fa-times-circle"></i> Logout</a>
            </ul>
        </div>
    </div>
</div>

<!-- Constant JS -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/jquery.matchHeight-min.js' %}" type="text/javascript"></script>    
<script src="{% static 'js/classie.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-filestyle.min.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{% static 'js/slidein.js' %}" type="text/javascript"></script>
<script src="{% static 'js/tooltip.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    $(function() {
        $('.match').matchHeight();
    });

    // sticky header
    function init() {
        window.addEventListener('scroll', function(e){
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                shrinkOn = 100,
                header = document.querySelector("header#main");
            if (distanceY > shrinkOn) {
                classie.add(header,"shrink");
            } else {
                if (classie.has(header,"shrink")) {
                    classie.remove(header,"shrink");
                }
            }
        });
    }
    window.onload = init();

    // select 2
    $(document).ready(function() {
        $('select').select2();
    });
    
</script>

<!-- Extra JS -->
{% block extra-js %}{% endblock %}


</body>
</html