{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Information for influencers | Wantbrd - taking the guessing out of giving!
{% endblock %}


{% block extra-css %}{% endblock %}


{% block body %}   

<section class="staticHeader influencer"></section>


<section id="innerContent">
    <div class="container">

    	<h1>Oops, this page could not be found</h1>
    	<p>There was an error.</p>

    </div>
</section>


{% endblock %}

{% block extra-js %}{% endblock %}