{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Information for influencers | Wantbrd - taking the guessing out of giving!
{% endblock %}


{% block extra-css %}{% endblock %}


{% block body %}   

<section class="staticHeader influencer"></section>


<section class="whatIsWantbrd">
	
	<div class="whatIsWantbrdText match">
		<div class="whatTextWrap">
			<h1>What is Wantbrd?</h1>
			<p>Wantbrd is a place to <strong>create and share shopable collections of your favourite products</strong> grouped into boards so that your followers can buy the things you use and recommend.</p>
			<p>&nbsp;</p>
			<p>You can even <strong>post videos</strong> with Wantbrd, allowing you to share the products used in the videos with your followers.</p>

			{% if request.user.is_authenticated %}
			<a href="{% url 'u:home' %}">
			{% else %}
			<a href="#loginModal" rel="modal:open">
			{% endif %}
			Get started! <i class="fal fa-thumbs-up"></i></a>

		</div>
	</div>

	<div class="whatIsWantbrdImage match"></div>

</section>


<section class="whyWantbrd">

	<div class="whyWantbrdText match">
		<div class="whyTextWrap">
			<h2>Why Wantbrd?</h2>

			<ul class="fa-ul">
				<li><span class="fa-li" ><i class="fal fa-check"></i></span>Always get asked about the things you use or recommend?</li>
				<li><span class="fa-li" ><i class="fal fa-check"></i></span>Share your custom link to your Wantbrd anywhere.</li>
				<li><span class="fa-li" ><i class="fal fa-check"></i></span>Make money using your own affiliate links, monetising your expertise easily.</li>
				<li><span class="fa-li" ><i class="fal fa-check"></i></span>Creators of all kinds, from athletes to photographers, makeup artists to gamers, tech enthusiasts to stylists, and beyond.</li>
			</ul>

			{% if request.user.is_authenticated %}
			<a href="{% url 'u:home' %}">
			{% else %}
			<a href="#loginModal" rel="modal:open">
			{% endif %}
				I'm ready! <i class="fal fa-hand-point-right"></i></a>

		</div>
	</div>

	<div class="whyWantbrdImage match"></div>

</section>


<section class="proceed">
	<div class="container">
		
		<p>Wantbrd is a creator-centric community that gives you more time to <strong>focus on what you do best</strong>, creating.</p>

		{% if request.user.is_authenticated %}
		<a href="{% url 'u:home' %}">
		{% else %}
		<a href="#loginModal" rel="modal:open">
		{% endif %}
		Claim your profile</a>

	</div>
</section>



{% endblock %}

{% block extra-js %}{% endblock %}