{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Information for influencers | Wantbrd - taking the guessing out of giving!
{% endblock %}


{% block extra-css %}{% endblock %}


{% block body %}   

<section class="staticHeader influencer"></section>


<section id="innerContent">
    <div class="container">

        <h1>Influencers</h1>
        <p>More information coming soon.</p>

    </div>
</section>


{% endblock %}

{% block extra-js %}{% endblock %}