{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Information for influencers | Wantbrd - taking the guessing out of giving!
{% endblock %}


{% block extra-css %}{% endblock %}


{% block body %}   

<section class="staticHeader influencer"></section>

<main class="creators">

	<section class="creatorBanner">
		<div class="container">
			
			<div class="creatorText">
				<div class="creatorCell">
					<div class="creatorInner">
						<p>Wantbrd is a <strong>creator-centric community</strong> that gives you more time to <strong>focus on what you do best</strong>, creating.</p>
						
						{% if request.user.is_authenticated %}
						<a href="{% url 'u:home' %}">
						{% else %}
						<a href="#loginModal" rel="modal:open">
						{% endif %}
						Claim your profile</a>

					</div>
				</div>
			</div>

		</div>
	</section>


	<section class="whatIsWantbrd">
		<div class="container">
			
			<div class="whatIsWantbrdImage">
				<img src="{% static '' %}img/creator-screenshot.jpg">				
			</div>

			<div class="whatIsWantbrdText">
				<h2>What is Wantbrd?</h2>
				<p>Wantbrd is a place to create and share shopable collections of your favourite products grouped into boards, so your followers and view and buy the things you recommend.</p>
				<p>&nbsp;</p>
				<p>You can even post videos with Wantbrd, allowing you to share the prodcts used in the videos with your followers</p>

				{% if request.user.is_authenticated %}
				<a href="{% url 'u:home' %}" class="cbtn" >
				{% else %}
				<a href="#loginModal" class="cbtn" rel="modal:open">
				{% endif %}
				Claim your profile</a>

			</div>		

		</div>
	</section>


	<section class="whyUseWantbrd">
		<div class="container">
			
			<div class="whyUseWantbrdText">
				<h3>Why use Wantbrd?</h3>

				<ul class="fa-ul">
					<li><span class="fa-li" ><i class="fa fa-check-circle"></i></span> Always get asked about the things you use or recommend? <strong>Share your custom link to your Wantbrd anywhere.</strong></li>
					<li><span class="fa-li" ><i class="fa fa-check-circle"></i></span> <strong>Make money using your own affiliate links</strong>, monetising your expertise easily.</li>
					<li><span class="fa-li" ><i class="fa fa-check-circle"></i></span> <strong>Creators of all kinds</strong>, from athletes to photographers, makeup artists to gamers, tech enthusiasts to stylists, and beyond.</li>
				</ul>

				{% if request.user.is_authenticated %}
				<a href="{% url 'u:home' %}" class="cbtn">
				{% else %}
				<a href="#loginModal"  class="cbtn" rel="modal:open">
				{% endif %}
				Claim your profile</a>

			</div>

			<div class="whyUseWantbrdImage">
				<img src="{% static '' %}img/creator-iphone_c.png">
			</div>

		</div>
	</section>


	<section class="creatorFeedback">
		<div class="container">
			
			<ul class="creators">
				<li>
					<div class="creatorCircle">
						<div class="circle" style="background-image:url('https://wantbrd-assets.s3.amazonaws.com/media/user_files/2/picture/34091536_229288974523198_2112130118624215040_n.jpg');"></div>
					</div>
					<strong>Mia London</strong>
					<span>Traveller</span>
					<p>I needed a really user-friendly and quick way to share my recommendations with my followers, Wantbrd has allowed me to do this as well as interact with them. </p>
				</li>
				<li>
					<div class="creatorCircle">
						<div class="circle" style="background-image:url('https://wantbrd-assets.s3.amazonaws.com/media/user_files/87/picture/e6e19c44-031.jpg');"></div>
					</div>
					<strong>Daniel S Doran</strong>
					<span>Surfer/Gamer</span>
					<p>Finally a place I can share all my recommendations in one place, and it's so easy to use!</p>
				</li>
				<li>
					<div class="creatorCircle">
						<div class="circle" style="background-image:url('https://wantbrd-assets.s3.amazonaws.com/media/user_files/9/picture/d5019396-d06.jpg');"></div>
					</div>
					<strong>Zeb</strong>
					<span>Tech Enthusiast</span>
					<p>I often get asked what products I use or would recommend for certain setups, Wantbrd allows me to easily share these with my followers <em>and</em> use my own affiliate links.</p>
				</li>
			</ul>

			<div class="centeredButton">
				<a class="cbtn" href="#">Get started!</a>
			</div>

		</div>
	</section>

</main>




{% endblock %}

{% block extra-js %}{% endblock %}