{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load random_numbers %}

{% block title %}
	Trending Users | Wantbrd - Taking the guessing out of giving!
{% endblock %}

{% block meta_description %}
    Create wishlists and share with your friends, family and followers. Discover new products, places &amp; experiences, find out what your friends and family really want.  Wantbrd, taking the guessing out of giving!
{% endblock %}


{% block extra-css %}
	<link type="text/css" href="{% static 'css/slick.css' %}" rel="stylesheet" />
	<link type="text/css" href="{% static 'css/macy.css' %}" rel="stylesheet" />
{% endblock %}


{% block body %}   

<div class="homeBannerPush"></div>
<section class="homeBanner desktop clearfix">
    <div class="homeSlider">
        <div><a href="/collection/can-you-click-it"><img src="{% static 'img/banner-3.jpg' %}" alt="Create and share your personal wishllist"></a></div>
        <div><a href="/collection/girls-trip"><img src="{% static 'img/banner-4.jpg' %}" alt="The new way for influencers to monetise"></a></div>
        <div><a href="/collection/full-color-sound"><img src="{% static 'img/banner-1.jpg' %}" alt="Content creator? Monetise your content with Wantbrd"></a></div>
        <div><a href="/collection/jump-to-it"><img src="{% static 'img/banner-5.jpg' %}" alt="Discover new products and experiences"></a></div>
    </div>
    <div class="slickLeft"><i class="fas fa-chevron-right"></i></div>
    <div class="slickRight"><i class="fas fa-chevron-left"></i></div>
</section>

<section class="homeBanner mobile clearfix">
    <div class="homeSliderMobile">
        <div><a href="/collection/can-you-click-it"><img src="{% static 'img/banner-3.jpg' %}" alt="Create and share your personal wishllist"></a></div>
        <div><a href="/collection/girls-trip"><img src="{% static 'img/banner-4.jpg' %}" alt="The new way for influencers to monetise"></a></div>
        <div><a href="/collection/full-color-sound"><img src="{% static 'img/banner-1.jpg' %}" alt="Content creator? Monetise your content with Wantbrd"></a></div>
        <div><a href="/collection/jump-to-it"><img src="{% static 'img/banner-5.jpg' %}" alt="Discover new products and experiences"></a></div>
    </div>
</section>


<section class="homeBoard">
    <div class="container">

        <div class="tabNav">
            <a href="/"><i class="fas fa-fire"></i> <span>Hot</span></a>
            <a href="/trending/users" class="tabOn">Trending <span>users</span></a>
            <a href="/trending/boards">Trending <span>boards</span></a>
            <a href="/trending/items">Trending <span>items</span></a>
        </div>

        <div id="homeBoardItems">            
            <div class="loadingcont">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
        </div>

    </div>  
</section>

{% endblock %}

{% block extra-js %}
<script src="{% static 'js/slick.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/macy.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        $('.homeSlider').slick({
            centerMode: true,
            arrows:false,
            centerPadding: '200px',
            slidesToShow: 1,
            autoplay: false,
            dots: true,            
            responsive: [
                {
                  breakpoint: 1200,
                  settings: {
                    centerPadding: '0px',
                  }
                },
            ],
        });
        $('.slickRight').click(function(){
            $('.homeSlider').slick('slickPrev');
        })

        $('.slickLeft').click(function(){
            $('.homeSlider').slick('slickNext');
        })

        $('.homeSliderMobile').slick({
            centerMode: true,
            arrows:false,
            centerPadding: '200px',
            slidesToShow: 1,
            autoplay: false,
            dots: true,            
            responsive: [
                {
                  breakpoint: 1200,
                  settings: {
                    centerPadding: '0px',
                  }
                },
            ],
        });
    });
    $(window).on("load", function() {
        console.log('page loaded');

        let board = $('#homeBoardItems')

        $.ajax({
            url : "/b/get_trending_users/", // the endpoint
            dataType: 'json',
            data : {}, // data sent with the post request

            // handle a successful response
            success : function(data) {
                console.log(data);
                $('.loadingcont').remove();                              
                
                data.map(function(item){

                    totalItemsSuffix = item.total_items == 1 ? "item" : "items";
                    total_items = "<span>" + item.total_items + " " + totalItemsSuffix + "</span>";

                    boardsSuffix = item.total_boards == 1 ? "board" : "boards";
                    total_boards = "<span>" + item.total_boards + " " + boardsSuffix + "</span>";

                    var itemHtml = '';
                    var x = 1;
                    for (var key in item.items) {
                        itemHtml += '<a style="background-image:url(' + item.items[key].image + ');" href="' + item.items[key].link + '"></a>'                            
                    }

                    board.append(

                        '<div class="featBox trendingUser">' +
                            '<div class="trendingTop clearfix">' +
                                '<strong>Trending User</strong>' +
                            '</div>' +
                            '<a class="trendingUserUser" href="' + item.user_url + '">' +
                                '<div class="trendingUserUserWrap clearfix">' +
                                    '<div class="trendingUserPic">' +                                            
                                        '<div class="circle" style="background-image:url(' + item.user_pic + ');"></div>' +
                                    '</div>' +
                                    '<div class="trendingUserNames">' +
                                        '<strong>@' + item.username + '</strong>' +
                                        '<span>' + item.name + '</span>' +
                                    '</div>' +
                                '</div>' +
                            '</a>' +
                            
                            '<a class="trendingUserHero" href="' + item.user_url + '" style="background-image:url(' + item.hero + ')"></a>' +

                            '<div class="trendingItems clearfix">' +
                                itemHtml +
                            '</div>' +

                            '<div class="trendingFooter">' +
                                total_items +
                                total_boards +
                            '</div>' +

                        '</div>'

                    )

                })             

                // then do masonry
                var masonry = new Macy({
                    container: '#homeBoardItems',
                    trueOrder: false,
                    waitForImages: false,
                    useOwnImageLoader: false,
                    debug: true,
                    mobileFirst: true,
                    columns: 1,
                    margin: 24,
                    breakAt: {
                        860: 3,
                        520: 2,
                        320: 1
                    }
                });   
            }
        });

    })

</script>
{% endblock %}