{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Home
{% endblock %}

{% block body %}
<div class="profilePush"></div>

	<h1>ADD BOARD</h1>

	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button>Submit</button>
	</form>

{% endblock %}

{% block extra-js %}
<script type="text/javascript">
	$(function() {
	  var checkbox = $("#id_show_video");
	  var video = $("#id_video");
	  video.hide();
	  checkbox.change(function() {
	  	console.log('checked')
	    if (checkbox.is(':checked')) {
	      video.show();
	    } else {
	      video.hide();	      
	    }
	  });
	});
</script>
{% endblock %}