{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Add Item
{% endblock %}


{% block extra-css %}
	<link type="text/css" href="{% static 'css/slick.css' %}" rel="stylesheet" />
{% endblock %}


{% block body %}

{% if board.background %}
<div class="discoveryWrap" style="background-image:url('{{ board.background.url  }}"></div>
{% else %}
<div class="discoveryWrap" style="background-image:url('{% static 'img/default-hero.jpg' %}"></div>
{% endif %}

<div id="discoveryCont" class="container clearfix">
    
    <div class="feedLeft">&nbsp;</div>

    <div class="addItem">
        
        <h3>Add an item to <em>'{{ board.board_name }}'</em></h3>

        <div style="padding:30px; border:1px solid #ccc; margin:10px 30px 0;">
            <p>Status code: {{ status_code }}</p>
            <p>Image src: {{ imgsrc }}</p>
            <p>Method: {{ method }}</p>

        </div>

        <div class="addItemContent">

            {% if not ogimg or not output %}
            <strong class="formtitle">Search wantbrd for an item:</strong>
            <form method="GET" action="{% url 'b:add_item' board.id %}" id="finditem">
                <input
                    type="search"
                    placeholder="Search for an item by name"
                    name="find"
                    id="find"
                    value=""
                    pattern=".{3,}"
                    required
                    title="Please enter at least 3 characters"
                    class="scrapeUrl"
                >
                <button name="geturl" class="getItem">Search</button>
            </form>
            {% endif %}

            <strong class="formtitle">Enter the website address where we can find this item:</strong>
        	<form method="POST" id="scrapeitem">
        		{% csrf_token %}
        		<input type="text" name="targeturl" placeholder="Enter url of the item" value="{{ url }}" class="scrapeUrl">
        		<button name="geturl" class="getItem">Get item</button>
        	</form>

            <div class="gettingContentLoader" style="display: none;">
                <div class="spinner">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
            </div>

            <section class="scrapeInfo">
                {% if ogimg or output %}
            	<form method="POST" enctype="multipart/form-data">
            		{% csrf_token %}
            		<div id="addItemForm">

            			<section id="uploadFromSite">
                            <p><strong>Click on the image you would like to use.</strong></p>
            				<div class="imageSlider" style="margin-bottom:40px;">
                                {% if ogimg %}
                                    <div>
                                        <a href="#" class="retimg">
                                            <i class="fas fa-check-circle"></i>
                                            <img src="{{ ogimg }}" id="ogimg">
                                        </a>
                                    </div>                                
                                {% else %}
                					{% for src in output %}
                                        <div>
                                            <a href="#" class="retimg">
                                                <i class="fas fa-check-circle"></i>
                                                <img src="{{ src }}">
                                            </a>
                                        </div>        						
                					{% endfor %}
                                {% endif %}
            				</div>
            			</section>

                        <a href="#" id="uploadown">Or, upload your own image</a>

            			<section id="uploadOwnImage" style="display: none;">
                            <p>Select an image from your device.</p>
            				<input type="file" name="ownimage" id="ownimage">
            			</section>

                        <a href="#" id="uploadweb" style="display: none;">Or, get images from URL</a>

            		</div>

            		<div class="addItemFields">

    	        		<label>Item name:</label>
    	        		<input type="text" name="item_name" value="{{ page_title }}">

    	        		<label>Link to buy/view this item:</label>
    	        		<input type="text" name="purchase_url" value="{{ url }}"><br>

    	        		<label>About this item:</label>
    	        		<textarea name="item_desc"></textarea>

                        <label>Board:</label>
                        <select id="currentBoard" name="currentBoard">
                            {% for b in user_boards %}                                
                                <option value="{{b.id}}" {% if b.id == board.id %}selected="selected"{% endif %}>{{ b.board_name }}</option>
                            {% endfor %}
                        </select>

                        <label>Is this something you want or already have?</label>
                        <select name="item_status" id="item_status">
                            <option value="WNT">I Want This</option>
                            <option value="GOT">I've got this</option>
                        </select>


                        <div class="gotThisExtra" style="display:none;">
                            <label>How would you rate this item?</label>
                                <a href="#" id="three" class="rate" rel="tooltip" title="Recommended"><i class="far fa-smile"></i></a>
                                <a href="#" id="two" class="rate" rel="tooltip" title="Meh"><i class="far fa-meh"></i></a>
                                <a href="#" id="one" class="rate" rel="tooltip" title="Not recommended"><i class="far fa-frown"></i></a>
                            <input type="hidden" name="rating" id="rating" value="0"> 

                            <label>Review this item:</label>
                            <textarea name="review" id="review" placeholder="Write a short review for others, explaining what you like or dislike about this item.">{{ itemconx.review }}</textarea>
                        </div>

                        <label>Make active</label>                        
                        <input type="checkbox" name="active" id="itemactive" hidden="hidden" checked>
                        <label class="switch" for="itemactive"></label>

    	        		<input type="hidden" name="scrapedimg" value="" id="scrapedimg">
    	        		<input type="hidden" name="imgsrc" value="web" id="imgsrc">
                        <input type="hidden" name="boardid" value="{{ board.id }}" id="board">

    	        		<button class="grey large submit" name="additem" id="additem" value="1">Add item</button>

    	        	</div>
            	</form>
                {% endif %}
            </section>

        </div>
    </div>

    {% if item_results %}
        <div class="wantResults">
            <p><strong>Not what you were looking for?</strong> No problem, search the internet for the item and paste the web address above.</p>
            <div class="foundItems">                
                {% for item in item_results %}

                    <div class="foundItem">                            
                        {% thumbnail item.image "300x300" as im %}
                            <a href="{% url 'b:add_existing_item' board.id item.id %}" class="addExistingItem">
                                <img src="{{ im.url }}">
                            </a>
                        {% endthumbnail %}
                        <h4>{{ item.item.item_name }}</h4>
                        <a href="#" class="btn grey addExisting">Add item</a>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        {% else %}
            {% if results == 'no' %}
                <p><strong>Sorry, no one has added this item to wantbrd yet.</strong></p>
                <p>Try searching the internet for the item and paste the web address above.</p>
            {% endif %}
        </div>
    {% endif %}
</div>

{% endblock %}

{% block extra-js %}
<script src="{% static 'js/slick.min.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function(){

        $('.getItem').click(function() {
            $('.gettingContentLoader').show()
            $('.scrapeInfo').hide()
        });

        $('.imageSlider').slick({
            arrows:true,
            slidesToShow: 1,
            dots: false,
            nextArrow: '<i class="itemLeft fa fa-chevron-right"></i>',
            prevArrow: '<i class="itemRight fa fa-chevron-left"></i>',
        });
    	$('.retimg').click(function(e) {
            e.preventDefault();
            var src = $(this).find('img').attr('src');
            $('#scrapedimg').val(src);   
            $('.retimg i').hide();
            $(this).find('i').show();
    	});
		$('#uploadweb').click(function() {	        
	        $('#imgsrc').val('web');
            $('#uploadOwnImage').hide();
            $('#uploadweb').hide();
            $('#uploadFromSite').show();
            $('#uploadown').show();
		});
		$('#uploadown').click(function() {
	        $('#imgsrc').val('own');
            $('#uploadOwnImage').show();
            $('#uploadweb').show();
            $('#uploadFromSite').hide();
            $('#uploadown').hide();
		});

		$('#additem').click(function(e){
		    var imgsrc = $('#imgsrc').val();
		    var scrapedimg = $('#scrapedimg').val();
		    var ownimg = $('#ownimage').val();
		    var postit = true
	        if(imgsrc == "web"){
	        	if(scrapedimg == ""){
	        		postit = false
	        	};
	        };
	        if(imgsrc == "own"){
	        	if(ownimg == ""){
	        		postit = false
	        	};
	        };
	        if (postit == false) {
		        e.preventDefault();
                Swal('Oops!', 'You need to select or upload an image for this item', 'warning')
		    } else {
		    	return true
		    }
		});
        $('#item_status').change(function(){
            if ($(this).val() == 'GOT') {
                $('.gotThisExtra').show();
            } else {
                $('.gotThisExtra').hide();
            }
        })
        var rating = $('#rating');
        $('#three').click(function(e){
            rating.val("3");
            $(this).addClass('on');
            $('#one').removeClass('on');
            $('#two').removeClass('on');
            e.preventDefault();
        })
        $('#two').click(function(e){
            rating.val("2");
            $(this).addClass('on');
            $('#one').removeClass('on');
            $('#three').removeClass('on');
            e.preventDefault();
        })
        $('#one').click(function(e){
            rating.val("1");
            $(this).addClass('on');
            $('#two').removeClass('on');
            $('#three').removeClass('on');
            e.preventDefault();
        })

    });
</script>
{% endblock %}