{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load random_numbers %}

{% block title %}
	Add an item | Wantbrd
{% endblock %}


{% block extra-css %}
	<link type="text/css" href="{% static 'css/slick.css' %}" rel="stylesheet" />   
    <link href="{% static 'css/font/font-fileuploader.css' %}" media="all" rel="stylesheet">
    <link href="{% static 'css/jquery.fileuploader.min.css' %}" media="all" rel="stylesheet"> 
{% endblock %}


{% block body %}

{% if board.background %}
<div class="discoveryWrap" style="background-image:url('{% static '' %}img/default-hero-{% random_int 1 4%}.jpg')"></div>
{% else %}
<div class="discoveryWrap" style="background-image:url('{% static '' %}img/default-hero-{% random_int 1 4%}.jpg')"></div>
{% endif %}

<div id="discoveryCont" class="addNewItem container clearfix">
    
    <div class="addItem">
        
        <h3>Add an item to <em>'{{ board.board_name }}'</em></h3>

        {% if form.errors %}
            <h4>Please fix the following errors</h4>
            {{ form.errors }}
          </div>
        {% endif %}

        <div class="addItemContent">

            {% if not ogimg or not output %}

            <div class="searchWnt">
                <strong class="formtitle">Search wantbrd for an item:</strong>
                <form method="GET" action="{% url 'b:add_item' board.id %}" id="finditem">
                    <input
                        type="search"
                        placeholder="Search for an item by name"
                        name="find"
                        id="find"
                        value=""
                        pattern=".{3,}"
                        required
                        title="Please enter at least 3 characters"
                        class="scrapeUrl"
                    >
                    <button name="geturl" class="getItem">Search</button>
                </form>
                {% endif %}
            </div>

            <div class="searchWeb">
                <strong class="formtitle">Enter the URL where we can find your item:</strong>
            	<form method="POST" id="scrapeitem">
            		{% csrf_token %}
            		<input type="text" name="targeturl" placeholder="Enter url of the item" value="{{ url }}" class="scrapeUrl">
            		<button name="geturl" class="getItem">Get item</button>
            	</form>
            </div>

            <div class="clearfix"></div>

            <div class="gettingContentLoader" style="display: none;">
                <div class="spinner">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                </div>
            </div>

            <section class="scrapeInfo">
                {% if ogimg or output %}
            	<form method="POST" enctype="multipart/form-data">
            		{% csrf_token %}
            		<div id="addItemForm">

                        <h4>Item Image</h4>                        

            			<section id="uploadFromSite">
                            <p><strong>Click to select the image you would like to use.</strong></p>
            				<div class="imageSlider" style="margin-bottom:40px;">
                                {% if ogimg %}
                                    <div>
                                        <a href="#" class="retimg">
                                            <div class="selected">selected</div>
                                            <img src="{{ ogimg }}" id="ogimg">
                                        </a>
                                    </div>                                
                                {% else %}
                					{% for src in output %}
                                        <div>
                                            <a href="#" class="retimg">
                                                <div class="selected">selected</div>
                                                <img src="{{ src }}">
                                            </a>
                                        </div>        						
                					{% endfor %}
                                {% endif %}
            				</div>
            			</section>

                        <a href="#" id="uploadown">Or, upload your own image</a>

            			<section id="uploadOwnImage" style="display: none;">
                            <p><strong>Select an image from your device.</strong></p>
                            <input type="file" name="ownimage" id="ownimage">  
                            <input type="hidden" id="b64pic" name="b64pic" value="">
                            <label>I took this picture</label>                        
                            <input type="checkbox" name="itook" id="itook" hidden="hidden" value="itook">
                            <label class="switch" for="itook" rel="tooltip" title="Only select this option if you took this photo / created this image and it was not download from another website"></label>
            			</section>

                        {% if existing_item %}
                            <a href="#" id="uploadweb" style="display: none;">Use the original image</a>
                        {% else %}
                            <a href="#" id="uploadweb" style="display: none;">Or, get images from URL</a>
                        {% endif %}

            		</div>

            		<div class="addItemFields">

                        <h4>Item Details</h4>

    	        		<label>Item name:</label>
    	        		<input type="text" name="item_name" value="{{ page_title }}">

    	        		<label>Link to buy/view this item:</label>
    	        		<input type="text" name="purchase_url" value="{{ url }}">

    	        		<label>About this item:</label>
    	        		<textarea name="item_desc" id="item_desc"></textarea>
                        <span class="charsLeft"><span id="desc_chars">1000</span> characters remaining</span>

                        <label>Tags:</label>
                        {{ form.tags }}

                        <label>Board:</label>
                        <select id="currentBoard" name="currentBoard">
                            {% for b in user_boards %}                                
                                <option value="{{b.id}}" {% if b.id == board.id %}selected="selected"{% endif %}>{{ b.board_name }}</option>
                            {% endfor %}
                        </select>

                        <label>Is this something you want or already have?</label>
                        <select name="item_status" id="item_status">
                            <option value="WNT">I Want This</option>
                            <option value="GOT">I've got this</option>
                        </select>


                        <div class="gotThisExtra" style="display:none;">
                            <label>How would you rate this item?</label>

                            <div class="stars stars-example-fontawesome">
                                <select id="example-fontawesome" name="rating" autocomplete="off">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>

                            <label>Review this item:</label>
                            <textarea name="review" id="review" placeholder="Write a review to help others, explaining what you like or dislike about this item."></textarea>
                            <span class="charsLeft"><span id="rev_chars">1000</span> characters remaining</span>
                        </div>

                        <label>Make active</label>                        
                        <input type="checkbox" name="active" id="itemactive" value="active" hidden="hidden" checked>
                        <label class="switch" for="itemactive"></label>

    	        		<input type="hidden" name="scrapedimg" value="" id="scrapedimg">
    	        		<input type="hidden" name="imgsrc" value="web" id="imgsrc">
                        <input type="hidden" name="boardid" value="{{ board.id }}" id="board">
                        <input type="hidden" name="domain" value="{{ domain }}" id="domain">
                        <input type="hidden" name="copied_item" value="{{ itemconx.item }}">
                        <input type="hidden" name="original_url" value={{ url }}>
    	        		<button class="grey large submit" name="additem" id="additem" value="1">Add item</button>                        

    	        	</div>
            	</form>
                {% endif %}
            </section>

        </div>
    </div>

    {% if item_results %}

        <div class="wantResults">            

            <p><strong>Not what you were looking for?</strong> No problem, search the internet for the item and paste the web address above.</p>
            <div class="foundItems">                
                {% for itemconx in final_results %}                    
                    <div class="foundItem match" rel="tooltip" title="Select this item">
                        {% thumbnail itemconx.image "300x300" as im %}
                            <a href="{% url 'b:add_existing_item' board.id itemconx.id %}" class="addExistingItem">
                                <img src="{{ im.url }}">
                            </a>
                        {% endthumbnail %}
                        <h4>{{ itemconx.item.item_name }}</h4>                        
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    
    {% else %}
        <div class="wantResults">
            {% if results == 'no' %}
                <p><strong>Sorry, no one has added this item to wantbrd yet.</strong></p>
                <p>Try searching the internet for the item and paste the web address above.</p>
            {% endif %}
        </div>
    {% endif %}

</div>

{% endblock %}

{% block extra-js %}
<script src="{% static 'js/jquery.barrating.js' %}" type="text/javascript"></script>
<script src="{% static 'js/slick.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.fileuploader.min.js' %}" type="text/javascript"></script> 

<script type="text/javascript">

    // enable fileuploader plugin for background picture
    $('input[name="ownimage"]').fileuploader({
        inputNameBrackets: false,
        extensions: ['jpg', 'jpeg', 'png', 'gif'],
        addMore: false,
        limit: 1,
        fileMaxSize:2,
        quality:75,
        thumbnails: {
            onImageLoaded: function(item) {
                if (!item.html.find('.fileuploader-action-edit').length)
                    item.html.find('.fileuploader-action-remove').before('<a class="fileuploader-action fileuploader-action-popup fileuploader-action-edit" title="Edit"><i></i></a>');
            }
        },
        editor: {
            cropper: {
                ratio: '3:1',
                minWidth: 1000,
                minHeight: 600,
                showGrid: true
            },
            onSave: function(blobOrDataUrl, item, listEl, parentEl, newInputEl, inputEl) {
                $('#b64pic').val(blobOrDataUrl)
            },
        },
        onFileRead: function(item, listEl, parentEl, newInputEl, inputEl) {
            $('#b64pic').val(item.reader.src);
        },
    });

    // star rating
    $(function() {
        function ratingEnable() {
            $('#example-fontawesome').barrating({
                theme: 'fontawesome-stars',
                showSelectedRating: false
            });
        }
        ratingEnable();
    });

    $(document).ready(function(){

        $('.getItem').click(function() {
            $('.gettingContentLoader').show()
            $('.scrapeInfo').hide()
        });

        $('.imageSlider').slick({
            arrows:true,
            slidesToShow: 1,
            dots: true,
            nextArrow: '<i class="itemLeft fa fa-chevron-right"></i>',
            prevArrow: '<i class="itemRight fa fa-chevron-left"></i>',
        });
    	$('.retimg').click(function(e) {
            e.preventDefault();
            var src = $(this).find('img').attr('src');
            $('#scrapedimg').val(src);   
            $('.retimg .selected').hide();
            $(this).find('.selected').show();
    	});
		$('#uploadweb').click(function() {	        
	        $('#imgsrc').val('web');
            $('#uploadOwnImage').hide();
            $('#uploadweb').hide();
            $('#uploadFromSite').show();
            $('#uploadown').show();
		});
		$('#uploadown').click(function() {
	        $('#imgsrc').val('own');
            $('#uploadOwnImage').show();
            $('#uploadweb').show();
            $('#uploadFromSite').hide();
            $('#uploadown').hide();
		});

		$('#additem').click(function(e){
		    var imgsrc = $('#imgsrc').val();
		    var scrapedimg = $('#scrapedimg').val();
		    var ownimg = $('#ownimage').val();
		    var postit = true
	        if(imgsrc == "web"){
	        	if(scrapedimg == ""){
	        		postit = false
	        	};
	        };
	        if(imgsrc == "own"){
	        	if(ownimg == ""){
	        		postit = false
	        	};
	        };
	        if (postit == false) {
		        e.preventDefault();
                new PNotify({
                    title: false,
                    type: "warning",
                    text: 'You need to select or upload an image for this item first.',
                    shadow: false,
                    delay: 5000,
                    buttons: {
                        sticker: false,
                    }
                });
                var offset = $('#imageSlider').offset();
                var hash = '#scrapeitem';
                var offset = $(hash).offset();
                if (offset) {
                    $('html, body').animate({ scrollTop: offset.top }, 'slow');
                    location.hash = hash;
                    return false;
                }
		    } else {
		    	return true
		    }
		});
        $('#item_status').change(function(){
            if ($(this).val() == 'GOT') {
                $('.gotThisExtra').show();
            } else {
                $('.gotThisExtra').hide();
            }
        })

        var maxLength = 1000;

        $('textarea#item_desc').keyup(function() {
          var length = $(this).val().length;
          var length = maxLength-length;
          $('#desc_chars').text(length);
        });

        $('textarea#review').keyup(function() {
          var length = $(this).val().length;
          var length = maxLength-length;
          $('#rev_chars').text(length);
        });

    });
</script>
{% endblock %}