{% extends 'base.html' %}
{% load comments %}
{% load staticfiles %}
{% load thumbnail %}
{% load random_numbers %}

{% block title %}
	{{ collection.name }} @ Wantbrd | {{ collection.description }}
{% endblock %}

{% block extra-css %}
	<link type="text/css" href="{% static 'css/macy.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}

	<div class="profilePush"></div>

	<div class="searchTerm">
	    <div class="container">            
	    	{{ collection.name }}
	    </div>
	</div>

	<section class="searchResults">
	    <div class="container clearfix">

	    	<div class="collectionDescription">
	    		{{ collection.description }}
	    	</div>

	        <div id="collectionItems">	        	
				
	        	{% for item in mixed %}

	        		{% if item.board_name %}
		            	<div class="featBox trendingBoard">

		            	    {% if item.hero %}
		            	    <a class="trendingBoardHero" style="background-image:url('{{ item.hero.url }}');" href="{% url 'b:view_board' item.user.username item.slug %}">
		            	    {% else %}    
		            	    <a class="trendingBoardHero" style="background-image:url('{% static '' %}img/default-hero-{% random_int 1 4%}.webp');" href="{% url 'b:view_board' item.user.username item.slug %}">
		            	    {% endif %}

		            	        <div class="trendingBoardMeta">

		            	        	{% if item.board_name|length > 30 %}
		            	            	<strong>{{ item.board_name|slice:":30" }}<u class="tooLong" rel="tooltip" title="{{ item.board_name }}">...</u></strong>
		            	            {% else %}
		            	            	<strong>{{ item.board_name }}</strong>
		            	            {% endif %}
		            	            			            	            
		            	        </div>
		            	    </a>
		            	    <div class="trendingItems clearfix">	

		            	    	{% for itemconx in item.itemconxs %}
		            	    		{% thumbnail itemconx.image "300x300" as im %}
		            	    		    <a style="background-image:url('{{ im.url }}');" href="{% url 'b:view_item' item.user.username item.slug itemconx.id itemconx.slug %}"></a>		            	    		    
		            	    		{% endthumbnail %}		            	        
		            	        {% endfor %}		            	        

	            	        	{% if item.board.totalitems > 5 %}
	            	        		<a class="plusMore" href="#">
	            	            		<div class="plusMoreNumber">+{{ item.totalitems|add:"-5" }}</div>
	            	            	</a>
	            	            {% endif %}
		            	        
		            	    </div>
		            	    <a class="trendingUserUser" href="#">
		            	        <div class="trendingUserUserWrap clearfix">
		            	            <div class="trendingUserPic">

		            	            	{% if item.user.profile.picture %}
		            	            	    <div class="circle" style="background-image:url('{{ item.user.profile.picture.url }}');"></div>
		            	            	{% else %}
		            	            	    <div class="circle" style="background-image:url('{% static '' %}img/default-hero-{% random_int 1 4%}.webp');"></div>
		            	            	{% endif %}

		            	            </div>
		            	            <div class="trendingUserNames">
	            	            		{% if item.user.username|length > 30 %}
	            	            	    	<strong>@{{ item.user.username|slice:":30" }}<u class="tooLong" rel="tooltip" title="{{ item.user.username }}">...</u></strong>
	            	            	    {% else %}
	            	            	    	<strong>@{{ item.user.username }}</strong>
	            	            	    {% endif %}

		            	                {% if item.user.get_full_name %}
		            	                	{% if item.user.username|length > 40 %}
		            	                		<span>{{ item.user.get_full_name|slice:":40" }}<u class="tooLong" rel="tooltip" title="{{ item.user.get_full_name }}">...</u></span>
		            	                	{% else %}
		            	                		<span>{{ item.user.get_full_name }}</span>
		            	                	{% endif %}
		            	                {% endif %}
		            	            </div>
		            	        </div>
		            	    </a>
		            	    <div class="trendingFooter">
		            	        <span>{{ item.totalitems }} {% if item.totalitems > 1 or item.totalitems == 0 %} Items {% else %} Item {% endif %}</span>
		            	        <span>{{ item.views }} {% if item.views > 1 or item.views == 0 %} Views {% else %} View {% endif %}</span>
		            	    </div>
		            	</div>


	            	<!-- ITEM CONNECTIONS -->

	        		{% elif item.item.item_name %}
	            		<div class="featBox trendingItem">
	            		    <div class="trendingItemItem">
	            		        {% thumbnail item.image "300x300" as im %}
	            		            <a href="{% url 'b:view_item' item.board.user item.board.slug item.id item.slug %}">
	            		            	<img src="{{ im.url }}">
	            		            </a>
	            		        {% endthumbnail %}
	            		    </div>
	            		    <div class="trendingItemName">

	            		    	{% if item.item.item_name|length > 40 %}
	            		    		<a href="{% url 'b:view_item' item.board.user item.board.slug item.id item.slug %}">{{ item.item.item_name|slice:":40" }}
	            		    			<u class="tooLong" rel="tooltip" title="{{ item.item.item_name }}">...</u>
	            		    		</a>
	            		    	{% else %}
	            		    		<a href="{% url 'b:view_item' item.board.user item.board.slug item.id item.slug %}">{{ item.item.item_name }}</a>
	            		    	{% endif %}

	            		        <div class="trendingItemMeta">

	            		            Found in 
	            		            <a href="{% url 'b:view_board' item.board.user.username item.board.slug %}">
	            		            	{% if item.board.board_name|length > 30 %}
	            		            		{{ item.board.board_name|slice:":30" }}<u class="tooLong" rel="tooltip" title="{{ item.board.board_name }}">...</u>
	            		            	{% else %}
	            		            		{{ item.board.board_name }}
	            		            	{% endif %}
	            		           	</a> 
	            		           	
	            		           	&nbsp;by
	            		           	<a href="{% url 'u:profile' item.board.user.username %}">

	            		            	{% if item.board.user.get_full_name %}

	            		            		{% if item.board.user.get_full_name|length > 30 %}
	            		            			{{ item.board.user.get_full_name|slice:":30" }}<u class="tooLong" rel="tooltip" title="{{ item.board.user.get_full_name }}">...</u>
	            		            		{% else %}
	            		            			{{ item.board.user.get_full_name }}
	            		            		{% endif %}
	            		            		
	            		            	{% else %}
	            		            		@{{ item.board.user }}
	            		            	{% endif %}

	            		            </a>
	            		        </div>
	            		    </div>              
	            		    <div class="trendingFooter">

	                            <span><i class="far fa-comments"></i>
	                            	{% get_comment_count for item as comment_count %}
									{% if comment_count %}
										{{ comment_count }}
									{% else %}
										0
									{% endif %}
	                            </span>

	                            <form class="inline unlikeitem" method="POST" data-id="{{item.id }}" style="display:{% if item.is_liked %} inline-block {% else %} none {% endif %}">
	                                {% csrf_token %}
	                                <input type="hidden" class="unlike_item_id" name="item_id" value="{{ item.id }}">
	                                <button class="naked unlikeitembutton" data-id="{{item.id }}" name="unlikeitem">
	                                    <i class="fas fa-heart likeon"></i>
	                                    <span>{{ item.likes }}</span>
	                                </button>
	                            </form>

	                            <form class="inline likeitem" method="POST"  data-id="{{item.id }}" style="display:{% if item.is_liked %} none {% else %} inline-block {% endif %}">
	                                {% csrf_token %}
	                                <input type="hidden" class="like_item_id" name="item_id" value="{{ item.id }}">
	                                <button class="naked likeitembutton" data-id="{{item.id }}" name="likeitem">
	                                    <i class="fal fa-heart"></i>
	                                    <span>{{ item.likes }}</span>
	                                </button>
	                            </form>

	                            <span><i class="fas fa-eye"></i> {{ item.views }}</span>

	            		    </div>
	            		</div>

	        		{% endif %}

	        	{% endfor %}

	        </div>

	    </div>
	</section>


{% endblock %}

{% block extra-js %}
<script src="{% static 'js/macy.js' %}" type="text/javascript"></script>
<script>
    var masonry = new Macy({
        container: '#collectionItems',
        trueOrder: false,
        waitForImages: false,
        useOwnImageLoader: false,
        debug: true,
        mobileFirst: true,
        columns: 1,
        margin: 24,
        breakAt: {
            860: 3,
            520: 2,
            320: 1
        }
    });
</script>
<script type="text/javascript" src="{% static 'js/ajaxactions.js' %}"></script>
{% endblock %}