{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Add Item
{% endblock %}


{% block extra-css %}
	<link type="text/css" href="{% static 'css/slick.css' %}" rel="stylesheet" />
{% endblock %}


{% block body %}
<section id="addItem">
	<div class="container">

		<h1>Edit {{ item.item_name }}</h1>

		<p><img src="{{ itemconx.image.url }}" style="max-width: 200px; height: auto;"></p>

<!-- 		<form method="POST">
			{% csrf_token %}
			<input type="text" name="targeturl" placeholder="Enter url of the item" value="{{ item.url }}">
			<button name="geturl">Get item</button>
		</form> -->

		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<label>Item name:</label>
			<input type="text" name="item_name" value="{{ item.item_name }}">
			{{ form.as_p }}			
			<br>
			<label>URL:</label>
			<input type="text" name="purchase_url" value="{{ itemconx.purchase_url }}"><br>
			<input type="hidden" name="scrapedimg" value="" id="scrapedimg"><br>
			<textarea name="item_desc">{{ itemconx.item_desc }}</textarea><br>
			<select name="item_status">
				<option value="WANT">I Want This</option>
				<option value="GOT">I've got this</option>
			</select><br>
			Active <input type="checkbox" name="active" checked="checked" value="active">
			<p><button class="orange" name="updateitem" value="1">Update item</button></p>
		</form>


	</div>

</section>

{% endblock %}