{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Searching users for {{ search_term }} | Wantbrd
{% endblock %}

{% block extra-css %}
	<link type="text/css" href="{% static 'css/macy.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}

	<div class="profilePush"></div>

	<div class="searchTerm">
	    <div class="container">            
	        You searched for: {% if search_term %}"{{ search_term }}"{% endif %}
	    </div>
	</div>

	<section class="searchResults">
	    <div class="container clearfix">
	        
	    	<div class="tabNav">
	    		<a href="{% url 'search' %}?kw={{search_term}}">
	    			{% if all_results == 1 %}
	    				{{ all_results }} <span>result</span>
	    			{% else %}
	    				{{ all_results }} <span>results</span>
	    			{% endif %}
	    		</a>
	    	    <a href="{% url 'search_item' %}?kw={{search_term}}">
	    	    	{% if item_count == 1 %}
	    	    		{{ item_count }} <span>item</span>
	    	    	{% else %}
	    	    		{{ item_count }} <span>items</span>
	    	    	{% endif %}
	    	    </a>
	    	    <a href="{% url 'search_board' %}?kw={{search_term}}">
	    	    	{% if board_count == 1 %}
	    	    		{{ board_count }} <span>board</span>
	    	    	{% else %}
	    	    		{{ board_count }} <span>boards</span>
	    	    	{% endif %}
	    	    </a>                
	    	    <a href="{% url 'search_user' %}?kw={{search_term}}" class="tabOn">
	    	    	{% if user_results|length == 1 %}
	    	    		{{ user_results|length }} <span>user</span>
	    	    	{% else %}
	    	    		{{ user_results|length }} <span>users</span>
	    	    	{% endif %}
	    	    </a>
	    	</div>


	        <div id="searchItems">
	        
	            {% if user_results %}
	            	{% for user in user_results %}

	            		<div class="featBox trendingUser">
	            		    <a class="trendingUserUser" href="{% url 'u:profile' user.username  %}">
	            		        <div class="trendingUserUserWrap clearfix">
	            		            <div class="trendingUserPic">
	            		            	{% if user.profile.picture %}
	            		            	<div class="circle" style="background-image:url('{{ user.profile.picture.url }}');"></div>
	            		            	{% else %}
	            		            	<div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
	            		            	{% endif %}
	            		            </div>
	            		            <div class="trendingUserNames">
	            		            	{% if user.username|length > 30 %}
	            		            		<strong>@{{ user.username|slice:":30" }}<u class="tooLong" rel="tooltip" title="{{ user.username }}">...</u></strong>
	            		            	{% else %}
	            		            		<strong>@{{ user.username }}</strong>
	            		            	{% endif %}

	            		            	{% if user.get_full_name|length > 30 %}
	            		            		<span>{{ user.get_full_name|slice:":30" }}<u class="tooLong" rel="tooltip" title="{{ user.get_full_name }}">...</u></span>
	            		            	{% else %}
	            		            		<span>{{ user.get_full_name }}</span>
	            		            	{% endif %}
	            		            </div>
	            		        </div>
	            		    </a>

	            		    <a class="trendingUserHero" href="{% url 'u:profile' user.username  %}" style="background-image:url('{% static 'img/profile-hero.jpg' %}')"></a>

	            		    <div class="trendingItems clearfix">	            		    	
	            		    	{% for item in user.items %}
		            		        {% thumbnail item.image "300x300" as im %}
		            		            <a style="background-image:url('{{ im.url }}');" href="{% url 'u:profile' user.username  %}"></a>
		            		        {% endthumbnail %}
	            		        {% endfor %}

            		        	{% if item.items > 3 %}
            		        		<a class="plusMore" href="{% url 'u:profile' item.username  %}">
            		            		<div class="plusMoreNumber">+{{ item.itemcount|add:"-2" }}</div>
            		            	</a>
            		            {% else %}
            		            	<div class="noitemspush"></div>
            		           	{% endif %}
	            		    </div>

	            		    <div class="trendingFooter">
	            		        <span>
	            		        	{{ user.boardcount|add:"-1" }}
	            		        	{% if user.boardcount|add:"-1" == 1 %}Board{% else %}Boards{% endif %}
	            		        </span>
	            		        <span>
	            		        	{{ user.itemcount }}
	            		        	{% if user.itemcount|add:"-1" == 1 %}Item{% else %}Items{% endif %}
	            		        </span>
	            		        <span>
	            		        	{{ user.viewscount }}
	            		        	{% if user.viewscount|add:"-1" == 1 %}View{% else %}Views{% endif %}
	            		        </span>
	            		    </div>
	            		</div>

	            	{% endfor %}
	            	<div class="clearfix"></div>
	            {% else %}

    	            <div class="noresults">
    	            	<i class="fal fa-sad-cry"></i>
    	            	<p>Sorry, no items matched your search term.</p>
    	            </div>	            	

	            {% endif %}

	        </div>

	    </div>
	</section>


{% endblock %}

{% block extra-js %}
<script src="{% static 'js/macy.js' %}" type="text/javascript"></script>
<script>
    var masonry = new Macy({
        container: '#searchItems',
        trueOrder: false,
        waitForImages: false,
        useOwnImageLoader: false,
        debug: true,
        mobileFirst: true,
        columns: 1,
        margin: 24,
        breakAt: {
            860: 3,
            520: 2,
            320: 1
        }
    });
</script>
{% endblock %}