{% extends 'base.html' %}
{% load comments %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Search
{% endblock %}

{% block extra-css %}
	<link type="text/css" href="{% static 'css/macy.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}

	<div class="profilePush"></div>

	<div class="searchTerm">
	    <div class="container">            
	        You searched for: {% if search_term %}"{{ search_term }}"{% endif %}
	    </div>
	</div>

	<section class="searchResults">
	    <div class="container clearfix">
	        
	        <div class="tabNav">
	            <a href="{% url 'search_item' %}?kw={{search_term}}" class="tabOn">
	            	{% if item_results|length == 1 %}
	            		{{ item_results|length }} Item
	            	{% else %}
	            		{{ item_results|length }} Items
	            	{% endif %}
	            </a>
	            <a href="{% url 'search_board' %}?kw={{search_term}}">
	            	{% if board_count == 1 %}
	            		{{ board_count }} Board
	            	{% else %}
	            		{{ board_count }} Boards
	            	{% endif %}
	            </a>                
	            <a href="{% url 'search_user' %}?kw={{search_term}}">
	            	{% if user_count == 1 %}
	            		{{ user_count }} User
	            	{% else %}
	            		{{ user_count }} Users
	            	{% endif %}
	            </a>
	        </div>


	        <div id="homeBoardItems">	        	
	        
	            {% if item_results %}
	            	{% for item in item_results %}

	            		<div class="featBox trendingItem match">
	            		    <div class="trendingItemItem">
	            		        {% thumbnail item.image "300x300" as im %}
	            		            <a href="{% url 'b:view_item' item.board.user item.board.slug item.id %}"">
	            		            	<img src="{{ im.url }}">
	            		            </a>
	            		        {% endthumbnail %}
	            		    </div>
	            		    <div class="trendingItemName">
	            		        <a href="{% url 'b:view_item' item.board.user item.board.slug item.id %}">{{ item.item.item_name }}</a>
	            		        <div class="trendingItemMeta">
	            		            Found in <a href="{% url 'b:view_board' item.board.user.username item.board.slug %}">{{ item.board.board_name }}</a> by <a href="{% url 'u:profile' item.board.user.username %}">
	            		            	{% if item.board.user.get_full_name %}
	            		            		{{ item.board.user.get_full_name }}	                                
	            		            	{% else %}
	            		            		@{{ item.board.user }}
	            		            	{% endif %}
	            		            </a>
	            		        </div>
	            		    </div>              
	            		    <div class="trendingFooter">

	                            <span><i class="far fa-comments"></i>
	                            	{% get_comment_count for item as comment_count %}
									{% if comment_count %}
										{{ comment_count }}
									{% else %}
										0
									{% endif %}
	                            </span>
                                {% if item.is_liked %}
                                    <span><i class="fas fa-heart likeon"></i></a> {{ item.likes }}</span>
                                {% else %}
                                    <span><i class="far fa-heart"></i> {{ item.likes }}</span>                                    
                                {% endif %}
	                            <span><i class="fas fa-eye"></i> {{ item.views }}</span>

	            		    </div>
	            		</div>

	            	{% endfor %}
	            	<div class="clearfix"></div>
	            {% else %}

		            <div class="noresults">
		            	<i class="far fa-frown"></i>
		            	<p>Sorry, no items matched your search term.</p>
		            </div>

	            {% endif %}


	        </div>

	    </div>
	</section>


{% endblock %}