{% extends 'base.html' %}
{% load staticfiles %}
{% load comments static %}
{% load thumbnail %}

{% block title %}
	Home
{% endblock %}

{% block extra-css %}
	<link type="text/css" href="{% static 'css/macy.css' %}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />	
	<style type="text/css">
		.itemDetails {
			background:#fff;
			padding:60px 0;
		}
	</style>
{% endblock %}

{% block body %}

<div class="profilePush"></div>

<div class="itemDetails">

	<div class="container clearfix">
		
		<div class="panel">

			<div class="popImage">
			    {% thumbnail itemconx.image "600x600" as im %}
			        <img src="{{ im.url }}">
			    {% endthumbnail %}
			    <div class="popMeta">
			        <a href="#"><i class="fas fa-share"></i> Share</a>
			        <a href="#"><i class="far fa-bookmark"></i> Save</a>
			        <a href="#"><i class="fas fa-plus"></i> Add to My Board</a>
			    </div>
			</div>

			<div class="popDetails">

			    <h1>{{ itemconx.item.item_name }}</h1>

		        <div class="itemMeta">
		    		<div class="itemMetaPic">
		    			{% if user.profile.picture %}
		    			<div class="circle" style="background-image:url('{{ user.profile.picture.url }}');"></div>
		    			{% else %}
		    			<div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
		    			{% endif %}
		    		</div>
		    		<div class="itemMetaFound">
			    	    Found in <a href="{% url 'b:view_board' itemconx.board.user itemconx.board.slug %}">{{ itemconx.board.board_name }}</a> by 
			    	    <a href="{% url 'u:profile' itemconx.board.user %}">
			        	{% if itemconx.board.user.get_full_name %}
			        		{{ itemconx.board.user.get_full_name }}	                                
			        	{% else %}
			        		@{{ itemconx.board.user }}
			        	{% endif %}
			        	</a>
			        </div>

		        </div>			    

			    {% if itemconx.item_desc %}
				    <div class="popDesc">
				    	<strong>Item info</strong>:
				        <p>{{ itemconx.item_desc }}</p>
				    </div>
			    {% endif %}

			    <a href="#" class="btn orange large">Buy now</a>        

			    <div class="itemComments">
				    <h2>Join the discussion</h2>
		            <div class="popComments">
		    			{% render_comment_list for itemconx %}
		    			{% if user.is_authenticated %}
		    			{% render_comment_form for itemconx %}
		    			{% endif %}
		            </div>
		        </div>

			</div>

			<div class="clearfix"></div>

	    </div>

	</div>

</div>

{% endblock %}

{% block extra-js %}
<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
<script>
 $(function () {
     $('[data-toggle="tooltip"]').tooltip({html: true})
 })</script>


{% endblock %}