{% extends 'base.html' %}
{% load comments %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Home
{% endblock %}

{% block extra-css %}
	<link type="text/css" href="{% static 'css/macy.css' %}" rel="stylesheet" />
    {% if board.isblocked %}
        {% if refer %}
            <meta http-equiv="refresh" content="3;url={{ refer }}" />
        {% else %}
            <meta http-equiv="refresh" content="3;url=/" />
        {% endif %}
    {% endif %}
    <style type="text/css">
        .selectize-dropdown { z-index: 9999; }
    </style>
{% endblock %}

{% block body %}

<div class="profilePush"></div>

{% if not board.isblocked %}

    <div class="boardWrap">        

        {% if board.hero %}
        <div class="boardBg" style="background-image:url('{{ board.hero.url }}')"></div>
        {% else %}    
        <div class="boardBg" style="background-image:url('{% static 'img/default-hero.png' %}')"></div>
        {% endif %}

        <div class="container">

            <div class="boardHeader clearfix">

                <div class="boardUser">                    
                    <div class="trendingUserPic">
                        {% if board.user.profile.picture %}
                            <div class="circle" style="background-image:url('{{ board.user.profile.picture.url }}');"></div>
                        {% else %}
                            <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                        {% endif %}
                    </div>
                    <a class="trendingUserNames" href="{% url 'u:profile' board.user.username %}">
                        <strong>@{{ board.user }}</strong>
                        <span>{{ board.user.first_name }} {{ board.user.last_name }}</span>
                    </a>
                </div>

                <div class="boardMeta">
                    {% if not editable %}
                        <div class="followButton">
                            {% if board.user != request.user %}
                                {% if is_followed %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button name="unfollow">Unfollow</button>
                                    </form>
                                {% else %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button name="follow">Follow</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <a class="edit_board" href="{% url 'b:edit_board' board.id %}" rel="tooltip" title="Edit this board"><i class="far fa-edit"></i></a>
                            {% endif %}
                        </div>                
                        <div class="boardStats">
                            <p>Created: {{ board.created|date:'d F o' }}</p>
                            <a href=""><i class="fas fa-share-alt"></i> Share</a> 


                            {% if board.is_liked %}
                                <span>
                                    <form class="inline" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="board_id" value="{{ board.id }}">
                                        <button class="naked" name="unlikeboard"><i class="fas fa-heart likeon"></i></a> {{ board.likes }}</button>
                                    </form>
                                </span>
                            {% else %}                                
                                <span>
                                    <form class="inline" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="board_id" value="{{ board.id }}">
                                        <button class="naked" name="likeboard"><i class="far fa-heart"></i> {{ board.likes }}</button>
                                    </form>
                                </span>                                    
                            {% endif %}

                            <i class="fas fa-eye"></i> {{ board.views }}
                        </div>
                    {% else %}
                        {% if not board.slug == 'your-saved-items' %}
                            <div class="boardConfig">
                                <a href="{% url 'b:view_board' board.user.username board.slug %}" title="View board as user" rel="tooltip"><i class="fas fa-user"></i></a>
                                <a href="#0" class="js-cd-panel-trigger" data-panel="main" title="Board settings" rel="tooltip"><i class="fas fa-cog"></i></a>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>

                <h1>{{ board.board_name }}</h1>
                {% if board.slug == 'your-saved-items' %}
                <span class="type">Items you have saved</span>
                {% endif %}

                {% if not board.slug == 'your-saved-items' %}
                <div class="tags">    
                    <div id="theTags">
                    	{% for tag in board.thetags %}
                    		<span><a href="{% url 'search_board' %}?kw={{ tag }}">#{{ tag }}</a></span>
                    	{% endfor %}
                    </div>

                    {% if editable %}
                        <div id="editTags" style="display: none;">
                            <form method="POST">
                                {% csrf_token %}
                                {{ tagform }}
                                <button class="altbtn" name="updatetags" value="1"><i class="fas fa-check"></i></button>
                            </form>                
                        </div>
                        
                        <a href="#" id="showEditTags" rel="tooltip" title="Set the board tags">
                            {% if not board.thetags %} Tags {% endif %} &nbsp; <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="#" id="hideEditTags" style="display: none;"><i class="fas fa-times"></i></a>
                    {% endif %}
                </div>
                {% endif %}

            </div>

            {% if board.show_video %}
                {% if board.video %}
            <div class="boardVideo">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/{{ board.video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
                {% endif %}
            {% endif %}

            {% if editable and not board.slug == 'your-saved-items' %}
                <div class="boardDescription">
                    <span id="theDesc">
                        {{ board.description }}
                    </span>
                    {% if editable %}
                        <div id="editDesc" style="display: none;">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="text" id="boardDesc" name="boardDesc" value="{{ board.description }}">
                                <button class="altbtn" name="updatedescription" value="1"><i class="fas fa-check"></i></button>
                            </form>                
                        </div>                    
                        <a href="#" id="showEditDesc" rel="tooltip" title="Add a board description">
                            {% if not board.description %}Board description {% endif %}
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="#" id="hideEditDesc" style="display: none;"><i class="fas fa-times"></i></a>
                    {% endif %}
                </div>
            {% else %}
                {% if board.description %}
                <div class="boardDescription">
                    <span id="theDesc">{{ board.description }}</span>
                    {% if editable %}
                        <div id="editDesc" style="display: none;">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="text" id="boardDesc" name="boardDesc" value="{{ board.description }}">
                                <button class="altbtn" name="updatedescription" value="1"><i class="fas fa-check"></i></button>
                            </form>                
                        </div>
                        <a href="#" id="showEditDesc"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#" id="hideEditDesc" style="display: none;"><i class="fas fa-times"></i></a>
                    {% endif %}
                </div>
                {% endif %}
            {% endif %}

            <div id="boardItems">
                
                {% if editable and not board.slug == 'your-saved-items' %}
                <a class="featBox add" href="{% url 'b:add_item' board.id %}">
                    <strong>Add Item</strong>
                    <i class="far fa-smile"></i>
                </a>
                {% endif %}                

                {% if items %}

                    {% for itemconx in items %}                    

                    <div class="featBox boardPic">                

                        {% if not editable %}
                        <div class="featBoxMeta">
                            <div class="share-link">
                                <a class="toggle metalink" href="javascript:void(0);"><i class="fas fa-share"></i> Share</a>
                                <div class="tip">
                                    <div class="ssk-group">
                                        <a href="" class="ssk ssk-icon ssk-facebook"></a>
                                        <a href="" class="ssk ssk-icon ssk-twitter"></a>
                                        <a href="" class="ssk ssk-icon ssk-google-plus"></a>
                                        <a href="" class="ssk ssk-icon ssk-pinterest"></a>
                                        <a href="" class="ssk ssk-icon ssk-tumblr"></a>
                                    </div>
                                </div>
                            </div>
                            <form class="inline" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="itemconx_id" value="{{ itemconx.id }}">
                                <button class="naked" name="savelater"><i class="far fa-bookmark"></i> Save</button>
                            </form>

                            <a href="#ex{{itemconx.id}}" class="metalink" rel="modal:open"><i class="fas fa-plus"></i> Add to My Board</a>
                            <div id="ex{{itemconx.id}}" class="modal">
                                <form method="POST" id="addtoboard-{{itemconx.id}}" name="addtoboard{{itemconx.id}}">
                                    {% csrf_token %}        
                                    <h5>Add to your board</h5>
                                    <p>Select which of your boards you would like to copy this item to:</p>
                                    <select name="board_id" class="selectBoard">
                                        {% for board in user_boards %}
                                            <option value="{{board.id}}">{{board.board_name}}</option>
                                        {% endfor %}
                                            <option value="newBoard">Create a new board</option>
                                    </select>
                                    <div class="addNewBoard" style="display: none;">
                                        <input type="text" name="addNewBoard" placeholder="Name your new board">
                                    </div>
                                    <input type="hidden" name="itemconx_id" value="{{ itemconx.id }}">
                                    <p><button class="btn orange" name="addtoboard">Add to board</button></p>
                                </form>
                            </div>

                        </div>



                        {% endif %}
                        {% if editable %}
                        <div class="featBoxMeta">
                            <a class="metalink" href="{% url 'b:edit_item' board.id itemconx.id %}"><i class="fas fa-share"></i> Edit</a>
                            <a href="#delete{{itemconx.id}}" class="metalink" rel="modal:open"><i class="far fa-bookmark"></i> Delete</a>
                        </div>

                        <div id="delete{{itemconx.id}}" class="modal">
                            <h5>Delete "{{ itemconx.item.item_name }}"</h5>
                            <p>Are you sure you would like to delete the item <em><strong>{{ itemconx.item.item_name }}</strong></em>? The item and all it's comments will be permenantly removed. Don't forget you can always just make your item inactive instead.</p>
                            <form method="POST" id="deleteitem-{{itemconx.id}}" name="deleteitem_{{itemconx.id}}">
                                {% csrf_token %}                            
                                <input type="hidden" name="item_id" value="{{ itemconx.id }}">
                                <button class="btn orange" name="deleteitem">Yes, delete this item</button>
                            </form>
                        </div>
                        {% endif %}

                        {% if editable %}
                            <a href="{% url 'b:edit_item' board.id itemconx.id %}">
                                {% thumbnail itemconx.image "300x300" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                            </a>
                            <a href="{% url 'b:edit_item' board.id itemconx.id %}" class="boardItemName">{{ itemconx.item.item_name }}</a>

                        {% else %}
                        
                            <a href="{% url 'b:view_item' board.user board.slug itemconx.id %}">
                                {% thumbnail itemconx.image "300x300" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                            </a>
                            <a href="{% url 'b:view_item' board.user board.slug itemconx.id %}" class="boardItemName">{{ itemconx.item.item_name }}</a>

                        {% endif %}

                        {% if not board.slug == 'your-saved-items' %}
                        <div class="boardItemStats">
                            <span><i class="far fa-comments"></i> 
                            	{% get_comment_count for itemconx as comment_count %}
                            	{{ comment_count }}                    	
                            </span>
                            <span><i class="fas fa-eye"></i> {{ itemconx.views }}</span>

                            {% if itemconx.is_liked %}
                                <span>
                                    <form class="inline" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="itemconx_id" value="{{ itemconx.id }}">
                                        <button class="naked" name="unlikeitem"><i class="fas fa-heart likeon"></i></a> {{ itemconx.likes }}</button>
                                    </form>
                                </span>
                            {% else %}
                                <span>
                                    <form class="inline" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="itemconx_id" value="{{ itemconx.id }}">
                                        <button class="naked" name="likeitem"><i class="far fa-heart"></i> {{ itemconx.likes }}</button>
                                    </form>
                                </span>                                    
                            {% endif %}
                            {% if itemconx.item_status == 'GOT' %}
                                <div class="got">
                                    <span>GOT THIS!</span>
                                    {% if itemconx.rating == '3' %}
                                        <i class="far fa-smile"></i>
                                    {% elif itemconx.rating == '2' %}
                                        <i class="far fa-meh"></i>
                                    {% elif itemconx.rating == '1' %}
                                        <i class="far fa-frown"></i>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}

                    </div>

                    {% endfor %}

                {% endif %}

                {% if items|length < 1 %}
                    {% if board.slug == 'your-saved-items' %}
                        <div class="noitems">
                            <strong>You have no saved items.</strong>
                            <p>Check out some other users boards and if you see something you like hit the "save" link!</p>
                        </div>
                    {% endif %}
                {% endif %}

            </div>

            <div class="clearfix"></div>

        </div>
    </div>

{% else %}

    <div class="container">
        Sorry, something went wrong.
    </div>

{% endif %}

<div class="cd-panel cd-panel--from-right js-cd-panel-main">
    <header class="cd-panel__header">
        <h1>Board Options</h1>
        <a href="#0" class="cd-panel__close js-cd-close">Close</a>
    </header>

    <div class="cd-panel__container">
        <div class="cd-panel__content">
            <div class="optionsPanel setBackground">
                <h4>Set Background</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ bgform }}
                    <p><button class="btn grey" name="changebackground" value="changebackground">Use Background</button></p>
                </form>
            </div>

            <div class="optionsPanel manageVideo">
                <h4>Manage Video</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Show video?</p>
                    {% if board.show_video %}
                        <input type="checkbox" name="show_video" hidden="hidden" id="show_video" value="yes" checked="checked">
                        <label class="switch" for="show_video"></label>
                    {% else %}
                        <input type="checkbox" name="show_video" hidden="hidden" id="show_video" value="yes">
                        <label class="switch" for="show_video"></label>
                    {% endif %}
                    <br>
                    <label>Enter the YouTube video ID below:</label>
                    <br>
                    <input type="text" name="videoid" id="videoid" value="{{ board.video }}">
                    <p><button class="btn grey" name="updatevideo" value="updatevideo">Update</button></p>
                </form>
            </div>

            <div class="optionsPanel boardPrivacy">
                <h4>Board Privacy</h4>
                <p>Restrict the following users from viewing this board.</p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="selectusers" style="width: 100%;">
                        <select name="list-users" multiple="multiple">
                            {% for user in allusers %}
                                {% if user in board.blocked %}
                                    <option value="{{user.id}}" selected="selected">{{ user.username }}</option>
                                {% else %}
                                    <option value="{{user.id}}">{{ user.username }}</option>
                                {% endif %}                                
                            {% endfor %}
                        </select>                        
                    </div>
                    <input type="hidden" name="board" value="{{ board.id }}">
                    <p><button class="btn grey" name="updateprivacy" value="updateprivacy">Update</button></p>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra-js %}

<!--- alerts -->
{% if messages %}
    {% for message in messages %}    
        <script type="text/javascript">
        $(function(){
          new PNotify({
            title: false,
            type: "success",
            text: {{ message }},
            shadow: false,
            delay: 5000,
            buttons: {
                sticker: false,
            }
          });
        });
        </script>
    {% endfor %}
{% endif %}

<script src="{% static 'js/macy.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function() {

        // macy
        var masonry = new Macy({
            container: '#boardItems',
            trueOrder: false,
            waitForImages: false,
            useOwnImageLoader: false,
            debug: true,
            mobileFirst: true,
            columns: 1,
            margin: 24,
            breakAt: {
                860: 3,
                520: 2,
                320: 1
            }
        });

        // show desc edit
        $('#showEditDesc').click(function(e){
            $( "#theDesc" ).hide();
            $( "#editDesc" ).show();
            $( "#showEditDesc" ).hide();
            $( "#hideEditDesc" ).show();        
            e.preventDefault();
        });

        // hide desc edit
        $('#hideEditDesc').click(function(e){
            $( "#theDesc" ).show();
            $( "#editDesc" ).hide();
            $( "#showEditDesc" ).show();
            $( "#hideEditDesc" ).hide();        
            e.preventDefault();
        });
        
        // show tag edit
        $('#showEditTags').click(function(e){
            $( "#theTags" ).hide();
            $( "#editTags" ).show();
            $( "#showEditTags" ).hide();
            $( "#hideEditTags" ).show();
            e.preventDefault();
        });
        
        // hide tag edit
        $('#hideEditTags').click(function(e){
            $( "#theTags" ).show();
            $( "#editTags" ).hide();
            $( "#showEditTags" ).show();
            $( "#hideEditTags" ).hide();
            e.preventDefault();
        });

        // show field to add new board
        $('.selectBoard').change(function(){
            if ($(this).val() == 'newBoard') {
                $('.addNewBoard').show();
            } else {
                $('.addNewBoard').hide();
            }
        })

    });
</script>

{% endblock %}