{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Home
{% endblock %}

{% block body %}
<div class="profilePush"></div>

	<h1>ALL BOARDS</h1>
	{% if boards %}	
	<div>
		{% for board in boards %}
		<ul>
			<li>ID: {{ board.id }}</li>
			<li>Name: {{ board.board_name }}</li>
			<li>Content Type: {{ board.content_type }}</li>
			<li>Board Type: {{ board.board_type }}</li>
			<li>
				{% if board.private == True %}
					Private
				{% else %}
					Public
				{% endif %}
			</li>
			<li>u: {{ board.user }}</li>
			<li>Likes: {{ board.likes }}</li>
			<li>Views: {{ board.views }}</li>		
		</ul>
		<a href="{% url 'b:view_board' board.id %}">View Board</a>

		{% if board.is_liked %}
			<form method="POST">
				{% csrf_token %}
				<input type="hidden" name="board_id" value="{{ board.id }}">
				<button name="unlikeboard">UnLike</button>
			</form>
		{% else %}
			<form method="POST">
				{% csrf_token %}
				<input type="hidden" name="board_id" value="{{ board.id }}">
				<button name="likeboard">Like</button>
			</form>
		{% endif %}

		<hr>
		{% endfor %}
	</div>
	{% else %}

	<p>There are no boards</p>

	{% endif %}

{% endblock %}