{% extends 'base.html' %}
{% load staticfiles %}
{% load comments static %}
{% load thumbnail %}

{% block title %}
	{{ itemconx.item.item_name }} | {{ itemconx.board.board_name }} | {{ itemconx.board.user.get_full_name }} | Wantbrd
{% endblock %}

{% block extra-css %}
	<link type="text/css" href="{% static 'css/macy.css' %}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />	
	<style type="text/css">
		.itemDetails {
			background:#fff;
			padding:60px 0;
		}
	</style>
{% endblock %}

{% block body %}

<div class="profilePush"></div>

<div class="itemDetails">

	<div class="container clearfix">
		
		<div class="panel">

			<h1 class="detailsMob">{{ itemconx.item.item_name }}</h1>
	        <div class="itemMeta detailsMob">
	    		<div class="itemMetaPic">
	    			{% if itemconx.board.user.profile.picture %}
	    			<div class="circle" style="background-image:url('{{ itemconx.board.user.profile.picture.url }}');"></div>
	    			{% else %}
	    			<div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
	    			{% endif %}
	    		</div>
	    		<div class="itemMetaFound">
		    	    Found in <a href="{% url 'b:view_board' itemconx.board.user itemconx.board.slug %}">{{ itemconx.board.board_name }}</a> by 
		    	    <a href="{% url 'u:profile' itemconx.board.user %}">
		        	{% if itemconx.board.user.get_full_name %}
		        		{{ itemconx.board.user.get_full_name }}	                                
		        	{% else %}
		        		@{{ itemconx.board.user }}
		        	{% endif %}
		        	</a>
		        </div>
		    </div>

			<div class="popImage">
			    {% thumbnail itemconx.image "600x600" as im %}
			    	<div style="position: relative;">
			        	<img src="{{ im.url }}">
			        	{% if linkback %}
			        		<div class="linkback"><a href="{% url 'u:profile' linkback %}">Image credit @{{ linkback }}</a></div>
			        	{% endif %}
			        </div>
			    {% endthumbnail %}
			    <div class="popMeta">
			    	<div class="share-link">
			    		<a class="toggle" href="javascript:void(0);"><i class="fal fa-share"></i> Share</a>
			    		<div class="tip">
			    			<div class="ssk-group">
			    			    <a href="" class="ssk ssk-icon ssk-facebook"></a>
			    			    <a href="" class="ssk ssk-icon ssk-twitter"></a>
			    			    <a href="" class="ssk ssk-icon ssk-google-plus"></a>
			    			    <a href="" class="ssk ssk-icon ssk-pinterest"></a>
			    			    <a href="" class="ssk ssk-icon ssk-tumblr"></a>
			    			</div>
			    		</div>
			    	</div>
			    	<form class="inline" method="POST">
			    	    {% csrf_token %}
			    	    <input type="hidden" name="itemconx_id" value="{{ itemconx.id }}">
			    	    <button class="naked" name="savelater" rel="tooltip" title="Add to your saved items"><i class="fal fa-bookmark"></i> Save</button>
			    	</form>			        
			        <a href="#ex{{itemconx.id}}" class="metalink" rel="modal:open tooltip" title="Add to your board"><i class="fal fa-plus"></i> Add to Board</a>
			        <div id="ex{{itemconx.id}}" class="modal">
			            <form method="POST" id="addtoboard-{{itemconx.id}}" name="addtoboard{{itemconx.id}}">
			                {% csrf_token %}        
			                <h5>Add to your board</h5>
			                <p>Select which of your boards you would like to copy this item to:</p>
			                <select name="board_id" class="selectBoard">
			                    {% for board in user_boards %}
			                        <option value="{{board.id}}">{{board.board_name}}</option>
			                    {% endfor %}
			                        <option value="newBoard">Create a new board</option>
			                </select>
			                <div class="addNewBoard" style="display: none;">
			                    <input type="text" name="addNewBoard" placeholder="Name your new board">
			                </div>
			                <input type="hidden" name="itemconx_id" value="{{ itemconx.id }}">
			                <p><button class="btn orange" name="addtoboard">Add to board</button></p>
			            </form>
			        </div>
			    </div>
			</div>

			<div class="popDetails">

			    <h1 class="detailsDesk">{{ itemconx.item.item_name }}</h1>

		        <div class="itemMeta">
		    		<div class="itemMetaPic">
		    			{% if itemconx.board.user.profile.picture %}
		    			<div class="circle" style="background-image:url('{{ itemconx.board.user.profile.picture.url }}');"></div>
		    			{% else %}
		    			<div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
		    			{% endif %}
		    		</div>
		    		<div class="itemMetaFound">
			    	    Found in <a href="{% url 'b:view_board' itemconx.board.user itemconx.board.slug %}">{{ itemconx.board.board_name }}</a> by 
			    	    <a href="{% url 'u:profile' itemconx.board.user %}">
			        	{% if itemconx.board.user.get_full_name %}
			        		{{ itemconx.board.user.get_full_name }}	                                
			        	{% else %}
			        		@{{ itemconx.board.user }}
			        	{% endif %}
			        	</a>
			        </div>

		        </div>			    

			    {% if itemconx.item_desc %}
				    <div class="popDesc">
				    	<strong>Item info</strong>:
				        <p>{{ itemconx.item_desc }}</p>
				    </div>
			    {% endif %}


			    {% if itemconx.thetags %}
			    	<div class="itemTags">
					    {% for tag in itemconx.thetags %}
					    	<span><a href="{% url 'search_item' %}?kw={{ tag }}">#{{ tag }}</a></span>
					    {% endfor %}
					</div>
				{% endif %}

			    <a href="{{ itemconx.purchase_url }}" class="btn orange large" target="_blank" rel="nofollow">More Info</a>

			    {% if itemconx.item_status == 'GOT' %}
			    	<div class="itemReview">
				        {% if itemconx.review %}			        	
			        		<strong>Item review</strong>
			        		<p>{{ itemconx.review }}</p>
				        {% endif %}
				        {% if itemconx.rating == 5 %}
				            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
				        {% elif itemconx.rating == 4 %}
				            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
				        {% elif itemconx.rating == 3 %}
				            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
				        {% elif itemconx.rating == 2 %}
				            <i class="fas fa-star"></i><i class="fas fa-star"></i>
				        {% elif itemconx.rating == 1 %}
				            <i class="fas fa-star"></i>
				        {% endif %}
				    </div>
			    {% endif %}

			    <div class="itemComments">
				    <h2>Join the discussion</h2>
		            <div class="popComments">
		    			{% render_comment_list for itemconx %}
		    			{% if user.is_authenticated %}
		    			{% render_comment_form for itemconx %}
		    			{% endif %}
		            </div>
		        </div>

			</div>

			<div class="clearfix"></div>

	    </div>

	</div>

</div>

{% endblock %}

{% block extra-js %}
<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip({html: true})
	});
	// show field to add new board
	$('.selectBoard').change(function(){
	    if ($(this).val() == 'newBoard') {
	        $('.addNewBoard').show();
	    } else {
	        $('.addNewBoard').hide();
	    }
	})
</script>

 {% if messages %}
     {% for message in messages %}    
     <script>
         $(function(){
             new PNotify({
                 title: false,
                 type: "warning",
                 text: '{{ message }}',
                 shadow: false,
                 delay: 5000,
                 buttons: {
                     sticker: false,
                 }
             }); 
         });
     </script>
     {% endfor %}
 {% endif %}

{% endblock %}