{% extends 'base.html' %}
{% load comments %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
    {{ board.board_name }} by {{ board.user.username }} | Wantbrd
{% endblock %}

{% block meta_description %}
Check out {{ board.board_name }} by {{ board.user.username }}. Create your own wish list and share with friends and family. Take the guessing out of giving!
{% endblock %}

{% block extra-css %}
    <link type="text/css" href="{% static 'css/macy.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font/font-fileuploader.css' %}" media="all" rel="stylesheet">
    <link href="{% static 'css/jquery.fileuploader.min.css' %}" media="all" rel="stylesheet">
    {% if board.isblocked %}
        {% if refer %}
            <meta http-equiv="refresh" content="3;url={{ refer }}" />
        {% else %}
            <meta http-equiv="refresh" content="3;url=/" />
        {% endif %}
    {% endif %}
    <style type="text/css">
        .selectize-dropdown { z-index: 9999; }
    </style>
{% endblock %}

{% block body %}

<div class="profilePush"></div>

{% if not board.isblocked %}

    <div class="boardWrap">        

        {% if board.hero %}
        <div class="boardBg" style="background-image:url('{{ board.hero.url }}')"></div>
        {% else %}    
        <div class="boardBg" style="background-image:url('{% static 'img/default-hero.png' %}')"></div>
        {% endif %}

        <div class="container">

            <div class="boardHeader clearfix">

                <div class="boardUser match">                    
                    <div class="trendingUserPic">
                        {% if board.user.profile.picture %}
                            <div class="circle" style="background-image:url('{{ board.user.profile.picture.url }}');"></div>
                        {% else %}
                            <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                        {% endif %}
                    </div>
                    <a class="trendingUserNames" href="{% url 'u:profile' board.user.username %}">
                        
                        {% if board.user.username|length > 30 %}
                            <strong>@{{ board.user.username|slice:":30" }}<u class="tooLong" rel="tooltip" title="{{ board.user.username }}">...</u></strong>
                        {% else %}
                            <strong>@{{ board.user.username }}</strong>
                        {% endif %}

                        {% if board.user.get_full_name|length > 60 %}    
                            <span>{{ board.user.get_full_name|slice:":60" }}<u class="tooLong" rel="tooltip" title="{{ board.user.get_full_name }}">...</u></span>
                        {% else %}
                            <span>{{ board.user.get_full_name }}</span>
                        {% endif %}
                    </a>
                </div>

                <div class="boardMeta match">
                    {% if not editable %}
                        <div class="followButton">
                            {% if board.user != request.user %}
                                
                                <form method="POST" class="unfollowuser"
                                    data-id="{{ board.user.id }}"
                                    style="display: {% if is_followed %} inline-block {% else %} none {% endif %};">
                                    {% csrf_token %}
                                    <input type="hidden" class="unfollow_user_id" value="{{ board.user.id }}">
                                    <button class="btn grey">Unfollow</button>
                                </form>

                                {% if request.user.is_authenticated %}
                                    <form method="POST" class="followuser"
                                        data-id="{{ board.user.id }}"
                                        style="display: {% if is_followed %} none {% else %} inline-block {% endif %};">
                                        {% csrf_token %}
                                        <input type="hidden" class="follow_user_id" value="{{ board.user.id }}">
                                        <button class="btn orange">Follow</buttwon>
                                    </form>
                                {% else %}
                                    <a class="btn orange" href="#loginModal" rel="modal:open">Follow</a>
                                {% endif %}

                            {% endif %}
                        </div>                
                        <div class="boardStats">
                            <p>Created on {{ board.created|date:'d F o' }}</p>                            
                            <div class="share-link">
                                <a class="toggle metalink" href="javascript:void(0);"><i class="fal fa-share"></i> Share</a>
                                <div class="tip">
                                    <div class="ssk-group">
                                        <a href="" class="ssk ssk-icon ssk-facebook"
                                            data-url="{{ request.build_absolute_uri }}"
                                            data-text="Checkout {{ board.board_name }} by {{ board.user.username }}!"
                                        ></a>
                                        <a href="" class="ssk ssk-icon ssk-twitter"
                                            data-url="{{ request.build_absolute_uri }}"
                                            data-text="Checkout {{ board.board_name }} by {{ board.user.username }}!"
                                        ></a>
                                        <a href="" class="ssk ssk-icon ssk-google-plus"
                                            data-url="{{ request.build_absolute_uri }}"
                                            data-text="Checkout {{ board.board_name }} by {{ board.user.username }}!"
                                        ></a>
                                        <a href="" class="ssk ssk-icon ssk-pinterest"   
                                            data-url="{{ request.build_absolute_uri }}"
                                            data-text="Checkout {{ board.board_name }} by {{ board.user.username }}!"
                                        ></a>
                                        <a href="" class="ssk ssk-icon ssk-tumblr"
                                            data-url="{{ request.build_absolute_uri }}"
                                            data-text="Checkout {{ board.board_name }} by {{ board.user.username }}!"
                                        ></a>
                                    </div>
                                </div>
                            </div>


                        
                            <form class="inline" method="POST" id="unlikeboard" style="display:{% if board.is_liked %} inline-block {% else %} none {% endif %}">
                                {% csrf_token %}
                                <input type="hidden" id="unlike_board_id" name="board_id" value="{{ board.id }}">
                                <button class="naked" name="unlikeboard" id="unlikeboardbutton"><i class="fas fa-heart likeon"></i> <span>{{ board.likes }}</span></button>
                            </form>

                            <form class="inline" method="POST" id="likeboard" style="display:{% if board.is_liked %} none {% else %} inline-block {% endif %}">
                                {% csrf_token %}
                                <input type="hidden" id="like_board_id" name="board_id" value="{{ board.id }}">
                                <button class="naked" name="likeboard" id="likeboardbutton"><i class="fal fa-heart"></i> <span>{{ board.likes }}</span></button>
                            </form>

                            <i class="fal fa-eye"></i> {{ board.views }}

                            {% if not editable %}
                                {% if board.user == request.user %}
                                    <a class="edit_board" href="{% url 'b:edit_board' board.id %}" rel="tooltip" title="Edit this board"><i class="far fa-edit"></i></a>
                                {% endif %}
                            {% endif %}

                        </div>
                    {% else %}
                        {% if not board.slug == 'your-saved-items' %}
                            <div class="boardConfig">
                                <a href="{% url 'b:view_board' board.user.username board.slug %}" title="View board as user" rel="tooltip"><i class="fal fa-user"></i></a>
                                <a href="#0" class="js-cd-panel-trigger" data-panel="main" title="Board settings" rel="tooltip"><i class="fal fa-cog"></i></a>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>

                {% if board.hero %}
                <div class="mobileBoardBg" style="background-image:url('{{ board.hero.url }}')"></div>
                {% else %}    
                <div class="mobileBoardBg" style="background-image:url('{% static 'img/default-hero.png' %}')"></div>
                {% endif %}


                {% if board.board_name|length > 50 %}
                    <h1>
                        {{ board.board_name|slice:":50" }}<u class="tooLong" rel="tooltip" title="{{ board.board_name }}">...</u>                                                
                        {% if board.slug != 'your-saved-items' %}
                            {% if editable %}
                                <i class="fas fa-pencil-alt editBoardDesc"></i>
                            {% endif %}
                        {% endif %}
                    </h1>
                {% else %}
                    <h1>
                        <span id="theBoardTitle">{{ board.board_name }}</span>                        
                        
                        {% if editable %}
                            {% if board.slug != 'your-saved-items' %}
                                <div id="editBoardName" style="display: none;">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="text" id="boardName" name="boardName" value="{{ board.board_name }}">
                                        <button class="altbtn" name="updateboardname" value="1"><i class="fas fa-check"></i></button>
                                        <a href="#" id="hideEditName" style="display: none;"><i class="fas fa-times"></i></a>
                                    </form>                
                                </div>                    
                                <a href="#" id="editBoardTitle" rel="tooltip" title="Edit the board name"><i class="fas fa-pencil-alt"></i></a>
                            {% endif %}
                        {% endif %}

                    </h1>
                {% endif %}

                {% if board.slug == 'your-saved-items' %}
                <span class="type">Items you have saved</span>
                {% endif %}

                <div class="bTags clearfix" {% if not editable and not board.thetags %}style="padding:0"{% endif %}>
                    {% if not board.slug == 'your-saved-items' %}
                        <div class="tags" {% if not editable %} style="padding-left:0" {% endif %}>    
                            <div id="theTags">
                                {% for tag in board.thetags %}
                                    <span><a href="{% url 'search_board' %}?kw={{ tag }}">#{{ tag }}</a></span>
                                {% endfor %}
                            </div>
                        </div>
                        {% if editable %}
                            <div id="editTags" style="display: none;">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ tagform }}
                                    <button class="altbtn" name="updatetags" value="1"><i class="fas fa-check"></i></button>
                                    <a href="#" id="hideEditTags" style="display: none;"><i class="fas fa-times"></i></a>
                                </form>                
                            </div>
                            
                            <a href="#" id="showEditTags" rel="tooltip" title="Set the board tags">
                                {% if not board.thetags %} Tags {% endif %} &nbsp; <i class="fas fa-pencil-alt"></i>
                            </a>                        
                        {% endif %}
                    {% endif %}

                </div>

            </div>

            {% if board.show_video %}
                {% if board.video %}
            <div class="boardVideo">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/{{ board.video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
                {% endif %}
            {% endif %}

            {% if editable and not board.slug == 'your-saved-items' %}
                <div class="boardDescription">
                    <span id="theDesc">
                        {{ board.description }}
                    </span>
                    {% if editable %}
                        <div id="editDesc" style="display: none;">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="text" id="boardDesc" name="boardDesc" value="{{ board.description }}">
                                <button class="altbtn" name="updatedescription" value="1"><i class="fas fa-check"></i></button>
                                <a href="#" id="hideEditDesc" style="display: none;"><i class="fas fa-times"></i></a>
                            </form>                
                        </div>                    
                        <a href="#" id="showEditDesc" rel="tooltip" title="Add a board description">
                            {% if not board.description %}Board description {% endif %}
                            <i class="fas fa-pencil-alt"></i>
                        </a>                        
                    {% endif %}
                </div>
            {% else %}
                {% if board.description %}
                <div class="boardDescription">
                    <span id="theDesc">{{ board.description }}</span>
                    {% if editable %}
                        <div id="editDesc" style="display: none;">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="text" id="boardDesc" name="boardDesc" value="{{ board.description }}">
                                <button class="altbtn" name="updatedescription" value="1"><i class="fas fa-check"></i></button>
                            </form>                
                        </div>
                        <a href="#" id="showEditDesc"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#" id="hideEditDesc" style="display: none;"><i class="fas fa-times"></i></a>
                    {% endif %}

                </div>
                {% endif %}
            {% endif %}

            <div id="boardItems">
                
                {% if editable and not board.slug == 'your-saved-items' %}
                <a class="featBox add" href="{% url 'b:add_item' board.id %}">
                    <strong>Add Item</strong>
                    <i class="fal fa-plus"></i>
                </a>
                {% endif %}                

                {% if items %}

                    {% for itemconx in items %}                    

                    <div class="featBox boardPic">                

                        {% if editable %}
                            <a href="{% url 'b:edit_item' board.slug itemconx.id itemconx.slug %}">
                                {% thumbnail itemconx.image "300x300" as im %}
                                    <img src="{{ im.url }}" alt="{{ itemconx.item.item_name }}">
                                {% endthumbnail %}
                            </a>

                            {% if itemconx.item.item_name|length > 75 %}
                                <a href="{% url 'b:edit_item' board.slug itemconx.id itemconx.slug %}" class="boardItemName">
                                    {{ itemconx.item.item_name|slice:":75" }}<u class="tooLong" rel="tooltip" title="{{itemconx.item.item_name}}">...</u>                                    
                                </a>
                            {% else %}                                
                                <a href="{% url 'b:edit_item' board.slug itemconx.id itemconx.slug %}" class="boardItemName">{{ itemconx.item.item_name }}</a>                                
                            {% endif %}

                            {% if itemconx.item_status == 'GOT' %}
                                <div class="got">
                                    {% if itemconx.rating == 5 %}
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    {% elif itemconx.rating == 4 %}
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    {% elif itemconx.rating == 3 %}
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    {% elif itemconx.rating == 2 %}
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    {% elif itemconx.rating == 1 %}
                                        <i class="fas fa-star"></i>
                                    {% endif %}
                                </div>
                            {% endif %}

                        {% else %}
                        
                            <a href="{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}">
                                {% thumbnail itemconx.image "300x300" as im %}
                                    <img src="{{ im.url }}" alt="{{ itemconx.item.item_name }}">
                                {% endthumbnail %}
                            </a>

                            <a href="{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}" class="boardItemName">{{ itemconx.item.item_name }}</a>

                            {% if itemconx.item_status == 'GOT' %}
                                <div class="got">
                                    {% if itemconx.rating == 5 %}
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    {% elif itemconx.rating == 4 %}
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    {% elif itemconx.rating == 3 %}
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    {% elif itemconx.rating == 2 %}
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    {% elif itemconx.rating == 1 %}
                                        <i class="fas fa-star"></i>
                                    {% endif %}
                                </div>
                            {% endif %}

                        {% endif %}

                        {% if itemconx.item_desc %}
                        <div class="itemDesc">
                            {{ itemconx.item_desc|truncatechars:75 }}
                        </div>
                        {% endif %}

                        {% if not board.slug == 'your-saved-items' %}

                            <div class="boardItemStats">

                                <span><a href="{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"><i class="fal fa-comment"></i>
                                    {% get_comment_count for itemconx as comment_count %}
                                    {{ comment_count }}                     
                                </a></span>
                                <span><i class="fal fa-eye"></i> {{ itemconx.views }}</span>


                                <form class="inline unlikeitem" method="POST" data-id="{{itemconx.id }}" style="display:{% if itemconx.is_liked %} inline-block {% else %} none {% endif %}">
                                    {% csrf_token %}
                                    <input type="hidden" class="unlike_item_id" name="item_id" value="{{ itemconx.id }}">
                                    <button class="naked unlikeitembutton" data-id="{{itemconx.id }}" name="unlikeitem">
                                        <i class="fas fa-heart likeon"></i>
                                        <span>{{ itemconx.likes }}</span>
                                    </button>
                                </form>

                                <form class="inline likeitem" method="POST"  data-id="{{itemconx.id }}" style="display:{% if itemconx.is_liked %} none {% else %} inline-block {% endif %}">
                                    {% csrf_token %}
                                    <input type="hidden" class="like_item_id" name="item_id" value="{{ itemconx.id }}">
                                    <button class="naked likeitembutton" data-id="{{itemconx.id }}" name="likeitem">
                                        <i class="fal fa-heart"></i>
                                        <span>{{ itemconx.likes }}</span>
                                    </button>
                                </form>


                                {% if editable %}
                                    <div class="itemTools">
                                        <a class="metalink" rel="tooltip" title="Edit item" href="{% url 'b:edit_item' board.slug itemconx.id itemconx.slug %}"><i class="fas fa-pencil-alt"></i></a>
                                        <a href="#delete{{itemconx.id}}" rel="modal:open" class="metalink"><i class="fal fa-trash-alt"></i></a>
                                    </div>

                                    <div id="delete{{itemconx.id}}" class="modal">
                                        <h5>Delete "{{ itemconx.item.item_name }}"</h5>
                                        <p>Are you sure you would like to delete the item <em><strong>{{ itemconx.item.item_name }}</strong></em>? The item and all it's comments will be permenantly removed. Don't forget you can always just make your item inactive instead.</p>
                                        <form method="POST" id="deleteitem-{{itemconx.id}}" name="deleteitem_{{itemconx.id}}">
                                            {% csrf_token %}                            
                                            <input type="hidden" name="item_id" value="{{ itemconx.id }}">
                                            <button class="btn orange" name="deleteitem">Yes, delete this item</button>
                                        </form>
                                    </div>
                                {% endif %}

                                {% if not editable %}
                                    <div class="itemTools">
                                        <div class="share-link">
                                            <a class="toggle metalink" rel="tooltip" title="Share" href="javascript:void(0);"><i class="fal fa-share"></i></a>
                                            <div class="tip">
                                                <div class="ssk-group">
                                                    <a href="" class="ssk ssk-icon ssk-facebook"
                                                        data-url="{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"
                                                        data-text="Checkout this item I found on Wantbrd: {{ itemconx.item.item_name }} - https://www.wantbrd.com{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"
                                                    ></a>
                                                    <a href="" class="ssk ssk-icon ssk-twitter"
                                                        data-url="{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"
                                                        data-text="Checkout this item I found on Wantbrd: {{ itemconx.item.item_name }} - https://www.wantbrd.com{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"
                                                    ></a>
                                                    <a href="" class="ssk ssk-icon ssk-google-plus"
                                                        data-url="{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"
                                                        data-text="Checkout this item I found on Wantbrd: {{ itemconx.item.item_name }} - https://www.wantbrd.com{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"
                                                    ></a>
                                                    <a href="" class="ssk ssk-icon ssk-pinterest"   
                                                        data-url="{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"
                                                        data-text="Checkout this item I found on Wantbrd: {{ itemconx.item.item_name }} - https://www.wantbrd.com{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"
                                                    ></a>
                                                    <a href="" class="ssk ssk-icon ssk-tumblr"
                                                        data-url="{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"
                                                        data-text="Checkout this item I found on Wantbrd: {{ itemconx.item.item_name }} - https://www.wantbrd.com{% url 'b:view_item' board.user board.slug itemconx.id itemconx.slug %}"
                                                    ></a>
                                                </div>
                                            </div>
                                        </div>

                                        <form class="inline saveitem" method="POST" data-id="{{ itemconx.id }}">
                                            {% csrf_token %}
                                            <input type="hidden" class="save_item_id" name="itemconx_id" value="{{ itemconx.id }}">
                                            <button class="naked saveitembutton" data-id="{{ itemconx.id }}" name="savelater" rel="tooltip" title="Add to your saved items">
                                                <i class="fal fa-bookmark"></i>
                                            </button>
                                        </form>

                                        <a href="#ex{{itemconx.id}}" class="metalink" rel="modal:open tooltip" title="Add to your board"><i class="fal fa-plus"></i></a>
                                        <div id="ex{{itemconx.id}}" class="modal">
                                            <form method="POST" id="addtoboard-{{itemconx.id}}" name="addtoboard{{itemconx.id}}">
                                                {% csrf_token %}        
                                                <h5>Add to your board</h5>
                                                <p>Select which of your boards you would like to copy this item to:</p>
                                                <select name="board_id" class="selectBoard">
                                                    {% for board in user_boards %}
                                                        <option value="{{board.id}}">{{board.board_name}}</option>
                                                    {% endfor %}
                                                        <option value="newBoard">Create a new board</option>
                                                </select>
                                                <div class="addNewBoard" style="display: none;">
                                                    <input type="text" name="addNewBoard" placeholder="Name your new board">
                                                </div>
                                                <input type="hidden" name="itemconx_id" value="{{ itemconx.id }}">
                                                <p><button class="btn orange" name="addtoboard">Add to board</button></p>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>

                        {% else %}

                            <div class="itemTools">
                                <a class="metalink" rel="tooltip" title="Edit item" href="{% url 'b:edit_item' board.slug itemconx.id itemconx.slug %}"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#delete{{itemconx.id}}" rel="modal:open tooltip" title="Delete item" class="metalink"><i class="fal fa-trash-alt"></i></a>
                            </div>

                            <div id="delete{{itemconx.id}}" class="modal">
                                <h5>Delete "{{ itemconx.item.item_name }}"</h5>
                                <p>Are you sure you would like to delete the item <em><strong>{{ itemconx.item.item_name }}</strong></em> from your Saved Items?</p>
                                <form method="POST" id="deleteitem-{{itemconx.id}}" name="deleteitem_{{itemconx.id}}">
                                    {% csrf_token %}                            
                                    <input type="hidden" name="item_id" value="{{ itemconx.id }}">
                                    <button class="btn orange" name="deleteitem">Yes, delete this item</button>
                                </form>
                            </div>

                        {% endif %}

                    </div>

                    {% endfor %}

                {% endif %}

                {% if items|length < 1 %}
                    {% if board.slug == 'your-saved-items' %}
                        <div class="noitems">
                            <strong>You have no saved items.</strong>
                            <p>Check out some other users boards and if you see something you like hit the "save" link!</p>
                        </div>
                    {% endif %}
                {% endif %}

            </div>

            <div class="clearfix"></div>

        </div>
    </div>

{% else %}

    <div class="container">
        Sorry, something went wrong.
    </div>

{% endif %}

<div class="cd-panel cd-panel--from-right js-cd-panel-main">

    <div class="cd-panel__container">

        <div class="slide-header">
            <h1>Board Options</h1>
            <a href="#0" class="cd-panel__close js-cd-close">Close</a>
        </div>

        <div class="cd-panel__content">
            <div class="optionsPanel setBackground">
                <h4>Set Background</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="bgfiles">  
                    <input type="hidden" name="user" id="id_user" value="{{ board.user.id }}">
                    <input type="hidden" id="b64pic" name="b64pic" value="">        
                    <button class="btn large grey" name="changebackground" value="1">Apply new background</button>
                </form>

            </div>

            <div class="optionsPanel manageVideo">
                <h4>Manage Video</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Show video?</p>
                    {% if board.show_video %}
                        <input type="checkbox" name="show_video" hidden="hidden" id="show_video" value="yes" checked="checked">
                        <label class="switch" for="show_video"></label>
                    {% else %}
                        <input type="checkbox" name="show_video" hidden="hidden" id="show_video" value="yes">
                        <label class="switch" for="show_video"></label>
                    {% endif %}
                    <br>
                    <label>Enter the YouTube video ID below:</label>
                    <br>
                    <input type="text" name="videoid" id="videoid" value="{{ board.video }}">
                    <p><button class="btn grey" name="updatevideo" value="updatevideo">Update</button></p>
                </form>
            </div>

            <div class="optionsPanel boardPrivacy">
                
                <h4>Board Privacy</h4>
                <p>Restrict the following users from viewing this board.</p>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="selectusers" style="width: 100%;">
                        <select name="list-users" multiple="multiple">
                            {% for user in allusers %}
                                {% if user in board.blocked %}
                                    <option value="{{user.id}}" selected="selected">{{ user.username }}</option>
                                {% else %}
                                    <option value="{{user.id}}">{{ user.username }}</option>
                                {% endif %}                                
                            {% endfor %}
                        </select>                        
                    </div>
                    <input type="hidden" name="board" value="{{ board.id }}">
                    <p><button class="btn grey" name="updateprivacy" value="updateprivacy">Update</button></p>
                </form>

            </div>
        </div>
    </div>
</div>



{% if item_to_tweet %}
<div id="tweetModal" class="modal">

    <h4>Share your new item</h4>
    <h3>{{ item_to_tweet.item.item_name }}</h3>

    {% thumbnail item_to_tweet.image "600x600" as im %}
        <div style="position: relative;">
            <img src="{{ im.url }}" alt="{{ itemconx.item.item_name }}">
            {% if linkback %}
                <div class="linkback"><a href="{% url 'u:profile' linkback %}">Image credit @{{ linkback }}</a></div>
            {% endif %}
        </div>
    {% endthumbnail %}    

    <a class="btn grey large" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.wantbrd.com/b/{{item_to_tweet.board.user.username}}/{{item_to_tweet.board.slug}}/{{item_to_tweet.id}}/{{item_to_tweet.slug}}&via=want_brd&text=Check%20out%20this%20item%20I%20just%20added%20to%20my%20Wantbrd%3A%20&hashtags=wantbrd%2C{{ item_to_tweet.item.item_name }}" target="_blank">
    <i class="fab fa-twitter"></i> Share via Twitter
    </a>
    

</div>
{% endif %}


{% endblock %}

{% block extra-js %}

<script src="{% static 'js/macy.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.fileuploader.min.js' %}" type="text/javascript"></script> 

<script type="text/javascript">

    // enable fileuploader plugin for background picture
    $('input[name="bgfiles"]').fileuploader({
        inputNameBrackets: false,
        extensions: ['jpg', 'jpeg', 'png', 'gif'],
        addMore: false,
        limit: 1,
        fileMaxSize:2,
        quality:75,
        thumbnails: {
            onImageLoaded: function(item) {
                if (!item.html.find('.fileuploader-action-edit').length)
                    item.html.find('.fileuploader-action-remove').before('<a class="fileuploader-action fileuploader-action-popup fileuploader-action-edit" title="Edit"><i></i></a>');
            }
        },
        editor: {
            cropper: {
                ratio: '3:1',
                minWidth: 1000,
                minHeight: 600,
                showGrid: true
            },
            onSave: function(blobOrDataUrl, item, listEl, parentEl, newInputEl, inputEl) {
                $('#b64pic').val(blobOrDataUrl)
            },
        },
        onFileRead: function(item, listEl, parentEl, newInputEl, inputEl) {
            $('#b64pic').val(item.reader.src);
        },
    });

    $(document).ready(function() {

        // macy
        var masonry = new Macy({
            container: '#boardItems',
            trueOrder: false,
            waitForImages: false,
            useOwnImageLoader: false,
            debug: true,
            mobileFirst: true,
            columns: 1,
            margin: 10,
            breakAt: {
                726: 3,
                400: 2
            }
        });

        // show title edit
        $('#editBoardTitle').click(function(e){
            $( "#theBoardTitle" ).hide();
            $( "#editBoardName" ).show();
            $( "#hideEditName" ).show();        
            $( "#editBoardTitle" ).hide();
            e.preventDefault();
        });

        // hide title edit
        $('#hideEditName').click(function(e){
            $( "#theBoardTitle" ).show();
            $( "#editBoardName" ).hide();
            $( "#editBoardTitle" ).show();
            e.preventDefault();
        });

        // show desc edit
        $('#showEditDesc').click(function(e){
            $( "#theDesc" ).hide();
            $( "#editDesc" ).show();
            $( "#showEditDesc" ).hide();
            $( "#hideEditDesc" ).show();        
            e.preventDefault();
        });

        // hide desc edit
        $('#hideEditDesc').click(function(e){
            $( "#theDesc" ).show();
            $( "#editDesc" ).hide();
            $( "#showEditDesc" ).show();
            $( "#hideEditDesc" ).hide();        
            e.preventDefault();
        });
        
        // show tag edit
        $('#showEditTags').click(function(e){
            $( "#theTags" ).hide();
            $( "#editTags" ).show();
            $( "#showEditTags" ).hide();
            $( "#hideEditTags" ).show();
            e.preventDefault();
        });
        
        // hide tag edit
        $('#hideEditTags').click(function(e){
            $( "#theTags" ).show();
            $( "#editTags" ).hide();
            $( "#showEditTags" ).show();
            $( "#hideEditTags" ).hide();
            e.preventDefault();
        });

        // show field to add new board
        $('.selectBoard').change(function(){
            if ($(this).val() == 'newBoard') {
                $('.addNewBoard').show();
            } else {
                $('.addNewBoard').hide();
            }
        })

    });

</script>

<script type="text/javascript" src="{% static 'js/ajaxactions.js' %}"></script>

{% if messages %}
    {% for message in messages %}    
    <script>
        $(function(){
            new PNotify({
                title: false,
                type: "warning",
                text: '{{ message }}',
                shadow: false,
                delay: 5000,
                buttons: {
                    sticker: false,
                }
            }); 
        });
    </script>
    {% endfor %}
{% endif %}

<script type="text/javascript">
    $('#tweetModal').modal();
</script>

{% endblock %}