{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Home
{% endblock %}

{% block body %}

<div class="profilePush"></div>

{% if profile.background %}
<div class="profileHero" style="background-image:url('{{ profile.background.url  }}">
{% else %}
<div class="profileHero" style="background-image:url('{% static 'img/profile-hero.jpg' %}">
{% endif %}

    <div class="profileMeta">
        <div class="profileBar">
            <div class="container clearfix">
                
                <div class="profileImageDetails clearfix match">
                    <a class="profileImage" href="#">
                        {% if profile.picture %}
                        <div class="circle" style="background-image:url('{{ profile.picture.url }}');"></div>
                        {% else %}
                        <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                        {% endif %}
                    </a>
                    <div class="profileDetails">
                        <span>@{{ profile.user.username }}</span>
                        <h3>{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
                        <div class="profileStats">
                            <p>{{ no_followers }} FOLLOWERS</p>
                            <p>{{ no_connections }} FOLLOWING</p>                            
                            <p>{{ boards.count|add:-1 }} {% if boards.count|add:-1 > 1 %}BOARDS{% else %}BOARD{% endif %}</p>
                        </div>                        
                        {% if profile.user == request.user %}
                            {% if request.path != '/u/' %}
                                <a href="{% url 'u:home' %}" class="btn orange">Edit board</a>
                            {% else %}
                                <a href="#" class="btn orange" data-featherlight="#setBackgroundModal">Set Background</a>
                                <div id="setBackgroundModal" class="lightbox">
                                    <h4>Set Background</h4>
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ bgform }}
                                        <button class="btn orange" name="changebackground" value="changebackground">Use Background</button>
                                    </form>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if is_followed %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="btn orange" name="unfollow"><i class="fas fa-minus"></i> Unollow</button>
                                </form>
                            {% else %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="btn orange" name="follow"><i class="fas fa-plus"></i> Follow</button>
                                </form>
                            {% endif %}
                            <div class="clear"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="profileBio match">

                    <div class="theBio">
                        <p>{{ profile.bio }}</p>
                        {% if request.path == '/u/' %}
                            <a href="#" id="showEditBio"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" id="hideEditBio" style="display: none;"><i class="fas fa-times"></i></a>
                        {% endif %}

                    </div>

                    {% if profile.user == request.user %}
                        <div id="editBio" style="display: none;">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="text" id="userBio" name="userBio" value="{{ profile.bio }}">
                                <button class="altbtn" name="updatebio" value="1"><i class="fas fa-check"></i></button>
                            </form>                
                        </div>                    
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>

<section class="profileBoards">
    <div class="container clearfix">

        {% if editable %}

        <div class="profileBoardItem create match"> 
            <strong>Create a Board</strong>
            <form method="POST" name="add_board" id="add_board">
                {% csrf_token %}
                <p class="error">{{ error }}</p>
                <input type="text" placeholder="Name your board..." name="boardname" required="requred">
                <p><button value="createwantboard" name="createwantboard" class="btn orange">Create a Want Board</button></p>
                <p><button value="createrecboard" name="createrecboard" class="btn orange">Create a Recommended Board</button></p>
            </form>
        </div>

        <div class="profileBoardItem saved match">
            <div class="profileBoardSaved">
                <a href="{% url 'b:edit_board' saved_board.id %}">{{ saved_board.board_name }}</a>
            </div>
            <div class="trendingItems clearfix">
                {% for item in saved_board.items %}
                    {% thumbnail item.image "300x300" as im %}
                        <a style="background-image:url('{{ im.url }}');" href="{% url 'b:edit_board' saved_board.id %}"></a>
                    {% endthumbnail %}                    
                {% endfor %}
                {% if saved_board.items.count > 5 %}
                <a class="plusMore" href="#">
                    <div class="plusMoreNumber">+{{ saved_board.items.count }} <span>more</span></div>
                </a>
                {% endif %}
            </div>
            <div class="trendingFooter clearfix">
                <span>
                    {{ saved_board.items.count }}
                    {% if saved_board.items.count == 1 %}
                    Item
                    {% else %}
                    Items
                    {% endif %}
                </span>
            </div>
        </div>

        {% endif %}

        {% if the_boards %}

	        {% for board in the_boards %}

                {% if board.deleteable %}

                    <div class="profileBoardItem match">
                        <div class="profileBoardName">
                            {% if not editable %}
                            <a href="{% url 'b:view_board' board.user.username board.slug %}">{{ board.board_name }}</a>
                            {% else %}
                            <a href="{% url 'b:edit_board' board.id %}">{{ board.board_name }}</a>
                            {% endif %}
                        </div>
                        <div class="profileBoardShare">
                            <a href="#">Share <i class="fas fa-share-alt"></i></a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="boardTags">
                            {% for tag in board.thetags %}
                                <span>#{{ tag }} </span>
                            {% endfor %}
                        </div>
                        
                        {% if board.hero %}
                        <div class="profileBoardHero" style="background-image:url('{{ board.hero.url }}')">
                        {% else %}
                        <div class="profileBoardHero" style="background-image:url('{% static 'img/default-hero.png' %}')">
                        {% endif %}
                        {% if editable %}
                            <div class="profileLabel">                        
                                <a href="#" data-featherlight="#deleteModal{{board.id}}">Delete</a>
                            </div>
                            <div id="deleteModal{{board.id}}" class="lightbox deletepop">
                                <h4>Delete "{{ board.board_name }}"</h4>
                                <p>Are you sure you would like to delete the board <em>{{ board.board_name }}</em>? The board, all it's items and all comments will be permenantly removed. Don't forget you can always make your boards private or inactive instead.</p>
                                <form method="POST" id="deleteboard-{{board.id}}" name="deleteboard_{{board.id}}">
                                    {% csrf_token %}                            
                                    <input type="hidden" name="board_id" value="{{ board.id }}">
                                    <button class="btn orange" name="deleteboard">Yes, delete this board</button>
                                </form>
                            </div>
                        {% endif %}
                        </div>
                        
                        <div class="trendingItems clearfix">
                            {% if board.items.count < 3 and editable%}
                                <a href="{% url 'b:edit_board' board.id %}" class="additembtn">
                                    <span>+</span>
                                </a>
                            {% endif %}
                            {% for item in board.items %}
                            {% thumbnail item.image "300x300" as im %}
                                <a style="background-image:url('{{ im.url }}');" href="{% url 'b:edit_board' board.id %}"></a>
                            {% endthumbnail %}                                                
                            {% endfor %}
                        </div>
                        <div class="trendingFooter clearfix">
                            <span>{{ board.count }} Items</span>
                            <span>{{ board.views }}
                            {% if board.views > 1 or board.views == 0 %}
                            Views
                            {% else %}
                            View
                            {% endif %}
                            </span>
                        </div>

                    </div>

                {% endif %}
	        {% endfor %}
	    {% else %}
        <p>This user has not added any boards yet.</p>
        {% endif %}

    </div>
</section>

{% endblock %}

{% block extra-js %}
<script type="text/javascript">
    // show desc edit
    $('#showEditBio').click(function(e){
        $( ".theBio" ).hide();
        $( "#editBio" ).show();
        $( "#showEditBio" ).hide();
        $( "#hideEditBio" ).show();        
        e.preventDefault();
    });
    // hide desc edit
    $('#hideEditBio').click(function(e){
        $( ".theBio" ).show();
        $( "#editBio" ).hide();
        $( "#showEditBio" ).show();
        $( "#hideEditBio" ).hide();        
        e.preventDefault();
    });
</script>
{% endblock %}