{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load random_numbers %}

{% block title %}
	{{ profile.user.username }} | {{ profile.user.get_full_name }} | Wantbrd
{% endblock %}

{% block body %}

<div class="profilePush"></div>

{% if profile.background %}
<div class="profileHero" style="background-image:url('{{ profile.background.url  }}">
{% else %}
<div class="profileHero" style="background-image:url('{% static 'img/profile-hero.jpg' %}">
{% endif %}

    <div class="profileMeta">
        <div class="profileBar">
            <div class="container clearfix">
                
                <div class="profileImageDetails clearfix match">
                    <div class="profileImage">
                        {% if profile.picture %}
                        <div class="circle" style="background-image:url('{{ profile.picture.url }}');"></div>
                        {% else %}
                        <div class="circle" style="background-image:url('{% static '' %}/img/default-hero-{% random_int 1 4%}.jpg');"></div>
                        {% endif %}
                    </div>
                    <div class="profileDetails">
                        {% if profile.user.username|length > 40 %}
                        <span>@{{ profile.user.username|slice:":40" }}<u class="tooLong" rel="tooltip" title="{{ profile.user.username }}">...</u></span>
                        {% else %}
                        <span>@{{ profile.user.username}}</span>
                        {% endif %}

                        {% if profile.user.get_full_name|length > 50 %}
                        <h3>{{ profile.user.get_full_name|slice:":50" }}<u class="tooLong" rel="tooltip" title="{{ profile.user.get_full_name }}">...</u></h3>
                        {% else %}
                        <h3>{{ profile.user.get_full_name }}</h3>
                        {% endif %}
                        <div class="profileStats">
                            <p><a href="{% url 'u:profile_followers' profile.user.username %}">
                                <span>{{ no_followers }}</span>FOLLOWERS
                            </a></p>
                            <p><a href="{% url 'u:profile_following' profile.user.username %}">
                                <span>{{ no_connections }}</span>FOLLOWING
                            </a></p>
                            <p><a href="{% url 'u:profile' profile.user.username %}"><span>{{ the_boards|length }}</span>{% if the_boards|length == 1 %}BOARD{% else %}BOARDS{% endif %}</a></p>
                        </div>                        
                        {% if profile.user == request.user %}
                            {% if request.path != '/u/' %}
                                <a href="{% url 'u:home' %}" class="btn orange">Add/edit boards</a>
                            {% else %}
                                <a href="{% url 'update_profile' %}" class="btn orange" title="Update your profile settings" rel="tooltip">Update profile</a>
                            {% endif %}
                        {% else %}

                            <form method="POST" class="unfollowuser"
                                data-id="{{ profile.user.id }}"
                                style="display: {% if is_followed %} inline-block {% else %} none {% endif %};">
                                {% csrf_token %}
                                <input type="hidden" class="unfollow_user_id" value="{{ profile.user.id }}">
                                <button class="btn orange" name="unfollow"><i class="fas fa-times"></i> Unfollow</button>
                            </form>

                            {% if request.user.is_authenticated %}
                                <form method="POST" class="followuser"
                                    data-id="{{ profile.user.id }}"
                                    style="display: {% if is_followed %} none {% else %} inline-block {% endif %};">
                                    {% csrf_token %}
                                    <input type="hidden" class="follow_user_id" value="{{ profile.user.id }}">
                                    <button class="btn orange" name="follow"><i class="fas fa-user-plus"></i> Follow</button>
                                </form>
                            {% else %}
                                <a class="btn orange" href="#loginModal" rel="modal:open"><i class="fas fa-user-plus"></i> Follow</a>
                            {% endif %}

                            <div class="clear"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="profileBio match">

                    <div class="theBio">                        
                        <p>{{ profile.bio }}</p>
                        <div class="pSocial">
                            {% if profile.social_instagram %}
                                <a href="https://www.instagram.com/{{ profile.social_instagram }}" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                            {% if profile.social_twitter %}
                                <a href="https://www.twitter.com/{{ profile.social_twitter }}" target="_blank" rel="nofollow"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if profile.social_youtube %}
                                <a href="https://www.youtube.com/{{ profile.social_youtube }}" target="_blank" rel="nofollow"><i class="fab fa-youtube"></i></a>
                            {% endif %}
                            {% if profile.social_facebook %}
                                <a href="https://www.facebook.com/{{ profile.social_facebook }}" target="_blank" rel="nofollow"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if profile.social_twitch %}
                                <a href="https://www.twitch.com/{{ profile.social_twitch }}" target="_blank" rel="nofollow"><i class="fab fa-twitch"></i></a>
                            {% endif %}
                            {% if profile.social_pinterest %}
                                <a href="https://www.pinterest.com/{{ profile.social_pinterest }}" target="_blank" rel="nofollow"><i class="fab fa-pinterest-p"></i></a>
                            {% endif %}
                            {% if profile.social_vimeo %}
                                <a href="https://www.vimeo.com/{{ profile.social_vimeo }}" target="_blank" rel="nofollow"><i class="fab fa-vimeo-v"></i></a>
                            {% endif %}
                            {% if profile.social_weibo %}
                                <a href="https://www.weibo.com/{{ profile.social_weibo }}" target="_blank" rel="nofollow"><i class="fab fa-weibo"></i></a>
                            {% endif %}
                            {% if profile.social_vk %}
                                <a href="https://www.vk.com/{{ profile.social_vk }}" target="_blank" rel="nofollow"><i class="fab fa-vk"></i></a>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<section class="profileBoards">
    <div class="container clearfix">

        {% if editable %}

        <div class="profileBoardItem create match"> 
            <strong>Create a Board</strong>
            <form method="POST" name="add_board" id="add_board">
                {% csrf_token %}
                <p class="error">{{ error }}</p>
                <input type="text" placeholder="Name your board..." name="boardname" id="boardname">
                <p><button id="createwantboard" value="createwantboard" name="createwantboard" class="btn orange">Create a Board</button></p>                
            </form>
        </div>

        {% endif %}

        {% if the_boards %}

	        {% for board in the_boards %}

                {% if board.deleteable %}

                    <div class="profileBoardItem match">
                        <div class="profileBoardName">
                            
                            {% if board.board_name|length > 50 %}
                            <a href="
                            {% if not editable %}
                                {% url 'b:view_board' board.user.username board.slug %}
                            {% else %}
                                {% url 'b:edit_board' board.id %}
                            {% endif %}
                            ">{{ board.board_name|slice:":50" }}<u class="tooLong" rel="tooltip" title="{{ board.board_name }}">...</u></a>
                            {% else %}
                            <a href="
                            {% if not editable %}
                                {% url 'b:view_board' board.user.username board.slug %}
                            {% else %}
                                {% url 'b:edit_board' board.id %}
                            {% endif %}
                            ">{{ board.board_name }}</a>
                            {% endif %}

                        </div>
                        {% if not editable %}
                        <div class="profileBoardShare">

                            <div class="share-link">
                                <a class="toggle metalink" href="javascript:void(0);"><i class="fal fa-share"></i> Share</a>
                                <div class="tip">
                                    <div class="ssk-group">
                                        <a href="" class="ssk ssk-icon ssk-facebook"
                                            data-url="{{ request.build_absolute_uri }}"
                                            data-text="Checkout {{ board.board_name }} by {{ board.user.username }}!"
                                        ></a>
                                        <a href="" class="ssk ssk-icon ssk-twitter"
                                            data-url="{{ request.build_absolute_uri }}"
                                            data-text="Checkout {{ board.board_name }} by {{ board.user.username }}!"
                                        ></a>
                                        <a href="" class="ssk ssk-icon ssk-google-plus"
                                            data-url="{{ request.build_absolute_uri }}"
                                            data-text="Checkout {{ board.board_name }} by {{ board.user.username }}!"
                                        ></a>
                                        <a href="" class="ssk ssk-icon ssk-pinterest"   
                                            data-url="{{ request.build_absolute_uri }}"
                                            data-text="Checkout {{ board.board_name }} by {{ board.user.username }}!"
                                        ></a>
                                        <a href="" class="ssk ssk-icon ssk-tumblr"
                                            data-url="{{ request.build_absolute_uri }}"
                                            data-text="Checkout {{ board.board_name }} by {{ board.user.username }}!"
                                        ></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endif %}
                        <div class="clearfix"></div>
                        <div class="boardTags">
                            {% for tag in board.thetags %}
                                <a href="{% url 'search_board' %}?kw={{ tag }}">#{{ tag }} </a>
                            {% endfor %}
                        </div>
                        
                        {% if board.hero %}
                        <div class="profileBoardHero" style="background-image:url('{{ board.hero.url }}')">
                        {% else %}
                        <div class="profileBoardHero" style="background-image:url('{% static '' %}/img/default-hero-{% random_int 1 4%}.jpg')">
                        {% endif %}

                        </div>
                        
                        <div class="trendingItems clearfix">
                            {% if board.items.count < 3 and editable%}
                                <a href="{% url 'b:edit_board' board.id %}" class="additembtn">
                                    <span>+</span>
                                </a>
                            {% endif %}
                            {% for item in board.items %}
                            {% thumbnail item.image "300x300" as im %}
                                {% if editable %}
                                    <a style="background-image:url('{{ im.url }}');" href="{% url 'b:edit_board' board.id %}"></a>
                                {% else %}
                                    <a style="background-image:url('{{ im.url }}');" href="{% url 'b:view_board' board.user.username board.slug %}"></a>
                                {% endif %}
                            {% endthumbnail %}                                                
                            {% endfor %}
                        </div>
                        <div class="trendingFooter clearfix">
                            <span>
                                {{ board.count }}
                                {% if board.count == 1 %}
                                Item
                                {% else %}
                                Items
                                {% endif %}
                            </span>
                            <span>
                                {{ board.views }}
                                {% if board.views > 1 or board.views == 0 %}
                                Views
                                {% else %}
                                View
                                {% endif %}
                            </span>
                            {% if editable %}                            
                                <div class="deleteBoard">
                                    <a class="metalink" rel="tooltip" title="Edit board" href="{% url 'b:edit_board' board.id %}"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#delete{{board.id}}" rel="modal:open"><i class="fal fa-trash-alt"></i></a>
                                    <div id="delete{{board.id}}" class="modal">
                                        <h5>Delete "{{ board.board_name }}"</h5>
                                        <p>Are you sure you would like to delete the board <em><strong>{{ board.board_name }}</strong></em>? The board, all it's items and all the item comments will be permenantly removed. Don't forget you can always just make your boards private or inactive instead.</p>
                                        <form method="POST" id="deleteboard-{{board.id}}" name="deleteboard_{{board.id}}">
                                            {% csrf_token %}                            
                                            <input type="hidden" name="board_id" value="{{ board.id }}">
                                            <button class="btn orange" name="deleteboard">Yes, delete this board</button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}

                        </div>

                    </div>

                {% endif %}
	        {% endfor %}
	    {% else %}
        <div class="noboardsyet">
            <strong>This user has not added any boards yet.</strong>            
        </div>
        {% endif %}

    </div>
</section>

{% endblock %}

{% block extra-js %}

    <script type="text/javascript" src="{% static 'js/ajaxactions.js' %}"></script>

    <!--- succes alert -->
    {% if messages %}
        {% for message in messages %}    
            <script type="text/javascript">
            $(function(){
              new PNotify({
                title: false,
                type: "success",
                text: '{{ message }}',
                shadow: false,
                delay: 5000,
                buttons: {
                    sticker: false,
                }
              });
            });
            </script>
        {% endfor %}
    {% endif %}

    <script type="text/javascript">
        $('#createwantboard').click(function(e){
            if(!$('#boardname').val()){
                new PNotify({
                  title: false,
                  type: "warning",
                  text: 'You need to enter a name for your board',
                  shadow: false,
                  delay: 5000,
                  buttons: {
                      sticker: false,
                  }
                });                
                e.preventDefault();
            };
        })
    </script>

{% endblock %}