{% extends 'base.html' %}

{% block title %}Login | Wantbrd{% endblock %}

{% block body %}

<section class="loginPanel login">
	<div class="container">

		<h1>Login</h1>

		<form method="post" novalidate>
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}">
			{% include 'includes/form.html' %}
		<button type="submit" class="btn btn-primary btn-block">Log in</button>
		</form>

		<a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>

	</div>
</section>

{% endblock %}