{% extends 'base.html' %}
{% load comments static %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Home
{% endblock %}

{% block extra-css %}
    <link type="text/css" href="{% static 'css/macy.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />    
{% endblock %}

{% block body %}

    <div class="discoveryWrap" style="background-image:url('img/profile-hero.jpg')"></div>
    <div id="discoveryCont" class="container clearfix">
        
        <div class="feedLeft">
            <div class="profileImage">
                <a class="profileImage" href="{% url 'u:home' %}">
                    {% if profile.picture %}
                    <div class="circle" style="background-image:url('{{ profile.picture.url }}');"></div>
                    {% else %}
                    <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                    {% endif %}
                </a>                
            </div>
            <div class="discoveryUsername">@{{ user.username }}</div>
            <div class="discoveryName">{{ user.get_full_name }}</div>
            <div class="discoveryStats">
                <p><strong>{{ no_followers }}</strong> FOLLOWERS</p>
                <p><strong>{{ no_connections }}</strong> FOLLOWING</p>
                <p><strong>{{ boards.count }}</strong> {% if boards.count > 1 %}BOARDS{% else %}BOARD{% endif %}</p>
                <p><strong>{{ no_items }}</strong> ITEMS</p>
            </div>

            <div class="recentActivity">
                <h6>Recent Activity</h6>
                <p><i class="far fa-heart"></i> </strong>12</strong> Likes</p>
                <p><i class="fas fa-user-plus"></i> <strong>14</strong> Followers</p>
                <p><i class="far fa-comments"></i> <strong>22</strong> Comments</p>
            </div>

        </div>

        <div class="discoveryFeed">
            
            <h3>Recent Activity</h3>

            <div class="discoveryFeedContent">

                {% if itemconxs %}

                	{% for item in itemconxs|dictsortreversed:"created" %}
                    
    	                <div class="discoveryItem clearfix">
    	                    <a href="{% url 'b:view_item' item.board.user item.board.slug item.id %}" class="discoveryImage">
    	                    	{% thumbnail item.image "300x300" as im %}
    	                    	    <a href="" rel="tooltip" title="{{item.purchase_url}}"><img src="{{ im.url }}"></a>
    	                    	{% endthumbnail %}
    	                    </a>
    	                    <div class="discoveryMeta">
    	                        <div class="trendingItemName">
    	                            <a href="#" class="trendName">{{ item.item.item_name }}</a>
    	                            <div class="trendingItemMeta">
    	                                Found in <a href="{% url 'b:view_board' item.board.user item.board.slug %}">{{ item.board.board_name }}</a> by 
    	                                <a href="{% url 'u:profile' item.board.user %}">
    	                                	{% if item.board.user.get_full_name %}
    	                                		{{ item.board.user.get_full_name }}	                                
    	                                	{% else %}
    	                                		@{{ item.board.user }}
    	                                	{% endif %}
    	                                </a>
    	                            </div>
    	                        </div>              
    	                        <div class="trendingFooter">
                                    <span>
                                        <form class="inline" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="itemconx_id" value="{{ item.id }}">
                                            <button class="naked" name="savelater"><i class="far fa-bookmark"></i></button>
                                        </form>
                                    </span>
    	                            <span><i class="far fa-comments"></i>
    	                            	{% get_comment_count for item as comment_count %}
    									{% if comment_count %}
    										{{ comment_count }}
    									{% else %}
    										0
    									{% endif %}
    	                            </span>
                                    {% if item.is_liked %}
                                        <span>
                                            <form class="inline" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="itemconx_id" value="{{ item.id }}">
                                                <button class="naked" name="unlikeitem"><i class="fas fa-heart likeon"></i> {{ item.likes }}</button>
                                            </form>
                                        </span>
                                    {% else %}
                                        <span>
                                            <form class="inline" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="itemconx_id" value="{{ item.id }}">
                                                <button class="naked" name="likeitem"><i class="far fa-heart"></i> {{ item.likes }}</button>                                
                                            </form>
                                        </span>                                    
                                    {% endif %}
    	                            <span><i class="fas fa-eye"></i> {{ item.views }}</span>                                
    	                        </div>
    	                    </div>
                            <div class="clearfix"></div>
                            <div style="text-align:left; font-size: .85rem; margin-top:20px;">

                                {% get_comment_list for item as comment_list %}
                                {% for comment in comment_list|slice:":2" %}
                                    <STRONG>{{user}}</STRONG>
                                    <div class="aComment" style="border-bottom:1px solid #ebebeb; padding-bottom:5px; margin-bottom:5px;">
                                        {{ comment.comment|linebreaks|slice:":90" }}...                                    
                                    </div>  
                                {% endfor %}
                                {% if comment_list %}
                                    <a href="#">View comments</a>
                                {% endif %}

                            </div>
    	                </div>

                    {% endfor %}

                {% else %}

                    <div class="nofollow">You are not following anyone yet.</div>

                {% endif %}

            </div>

        </div>

        <div class="feedRight">

            <h5>Suggested to follow:</h5>
            
            <div class="followList">
                <div class="followCard">
                    <a class="followProfile" href="#">
                        <div class="circle" style="background-image:url('img/profile-pic.jpg');"></div>
                    </a>
                    <div class="followInfo">
                        <a href="#" class="follow">+Follow</a>
                        <span><a href="#">@iamholdsworth</a></span>
                        <strong><a href="#">Luke Holdsworth</a></strong>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="followCard">
                    <a class="followProfile" href="#">
                        <div class="circle" style="background-image:url('img/profile-pic.jpg');"></div>
                    </a>
                    <div class="followInfo">
                        <a href="#" class="follow">+Follow</a>
                        <span><a href="#">@iamholdsworth</a></span>
                        <strong><a href="#">Luke Holdsworth</a></strong>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="followCard">
                    <a class="followProfile" href="#">
                        <div class="circle" style="background-image:url('img/profile-pic.jpg');"></div>
                    </a>
                    <div class="followInfo">
                        <a href="#" class="follow">+Follow</a>
                        <span><a href="#">@iamholdsworth</a></span>
                        <strong><a href="#">Luke Holdsworth</a></strong>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            {% if suggested_boards %}

                <h5>Suggested boards:</h5>
                <div class="suggestedBoards">

                    {% for board in suggested_boards %}

                        <div class="featBox trendingBoard">
                            {% if board.hero %}
                            <a class="trendingBoardHero" style="background-image:url('{{ board.hero.url }}');" href="{% url 'b:view_board' board.user.username board.slug %}">
                            {% else %}    
                            <a class="trendingBoardHero" style="background-image:url('{% static 'img/default-hero.png' %}');" href="{% url 'b:view_board' board.user.username board.slug %}">
                            {% endif %}                            
                                <div class="trendingBoardMeta">
                                    <strong>{{ board.board_name }}</strong>
                                    <span><i class="fas fa-eye"></i> {{ board.views }}</span>
                                </div>
                            </a>

                            <div class="trendingItems clearfix">
                                {% for item in board.items %}
                                    {% thumbnail item.image "300x300" as im %}
                                        <a style="background-image:url('{{ im.url }}');" href="{% url 'u:profile' user.username  %}"></a>
                                    {% endthumbnail %}
                                {% endfor %}

                                {% if board.itemcount > 2 %}
                                    <a class="plusMore" href="{% url 'u:profile' user.username  %}">
                                        <div class="plusMoreNumber">+{{ board.itemcount|add:"-2" }}</div>
                                    </a>
                                {% endif %}
                            </div>

                            <a class="trendingUserUser" href="profile.php">
                                <div class="trendingUserUserWrap clearfix">
                                    <div class="trendingUserPic">
                                        {% if board.user.profile.picture %}
                                        <div class="circle" style="background-image:url('{{ board.user.profile.picture.url }}');"></div>
                                        {% else %}
                                        <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                                        {% endif %}
                                    </div>
                                    <div class="trendingUserNames">
                                        <strong>@{{ board.user.username }}</strong>
                                        <span>{{ board.user.get_full_name }}</span>
                                    </div>
                                </div>
                            </a>
                            <div class="trendingFooter">
                                <span>{{ board.totalitems }} {% if board.totalitems > 1 or board.totalitems == 0 %} Items {% else %} Item {% endif %}</span>
                                <span>{{ board.views }} {% if board.views > 1 or board.views == 0 %} Views {% else %} View {% endif %}</span>
                            </div>
                        </div>
                        
                    {% endfor %}

                </div>
            
            {% endif %}

        </div>

    </div>	

{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
{% endblock %}