{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

<section class="loginPanel askreset">
    <div class="container">
        
        <h3>Reset your password</h3>
        <p>Enter your email address and we will send you a link to reset your password.</p>
        
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <p><button type="submit" class="btn grey">Send password reset email</button></p>
        </form>

    </div>
</section>

{% endblock %}