{% extends 'base.html' %}

{% block title %}Password changed!{% endblock %}

{% block body %}
<section class="accountUpdate">
    <div class="container clearfix">
        <div class="panel privacysettings">
        
            <h2 class="card-title">Password changed!</h2>
            You have successfully changed your password! You may now proceed to log in.
            <a href="{% url 'home' %}" class="btn grey large" style="margin-top:20px;">Return to the homepage</a>

        </div>
    </div>
</section>
{% endblock %}