{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block body %}

<h1>Update Account</h1>

{% if user.profile.picture %}
<p><img src="{{ user.profile.picture.url }}"></p>
{% endif %}
<p><strong>Username: </strong>{{ user.username }}</p>
<p><strong>First name: </strong>{{ user.first_name }}</p>
<p><strong>Last name: </strong>{{ user.last_name }}</p>
<p><strong>Bio: </strong>{{ user.profile.bio }}</p>
<p><strong>Country: </strong>{{ user.profile.country }}</p>
<p><strong>DOB: </strong>{{ user.profile.date_of_birth }}</p>
<p><strong>Phone: </strong>{{ user.profile.phone_number }}</p>
<p><strong>Website: </strong>{{ user.profile.website }}</p>

<h1>{{ userid }}</h1>

<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
	{{ formset.as_p }}
    <button type="submit">done</button>
</form>
      

{% endblock %}