{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Home
{% endblock %}

{% block body %}

<div class="profilePush"></div>

{% if profile.background %}
<div class="profileHero" style="background-image:url('{{ profile.background.url  }}">
{% else %}
<div class="profileHero" style="background-image:url('{% static 'img/profile-hero.jpg' %}">
{% endif %}

    <div class="profileMeta">
        <div class="profileBar">
            <div class="container clearfix">
                
                <div class="profileImageDetails clearfix match">
                    <a class="profileImage" href="{% url 'update_profile' %}">
                        {% if profile.picture %}
                        <div class="circle" style="background-image:url('{{ profile.picture.url }}');"></div>
                        {% else %}
                        <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                        {% endif %}
                    </a>
                    <div class="profileDetails">
                        {% if profile.user.username|length > 40 %}
                        <span>@{{ profile.user.username|slice:":40" }}<u class="tooLong" rel="tooltip" title="{{ profile.user.username }}">...</u></span>
                        {% else %}
                        <span>@{{ profile.user.username}}</span>
                        {% endif %}

                        {% if profile.user.get_full_name|length > 50 %}
                        <h3>{{ profile.user.get_full_name|slice:":50" }}<u class="tooLong" rel="tooltip" title="{{ profile.user.get_full_name }}">...</u></h3>
                        {% else %}
                        <h3>{{ profile.user.get_full_name }}</h3>
                        {% endif %}
                        <div class="profileStats">
                            <p><a href="{% url 'u:profile_followers' profile.user.username %}">
                                <span>{{ no_followers }}</span>FOLLOWERS
                            </a></p>
                            <p><a href="{% url 'u:profile_following' profile.user.username %}">
                                <span>{{ no_connections }}</span>FOLLOWING
                            </a></p>
                            <p><a href="{% url 'u:profile' profile.user.username %}"><span>{{ boards }}</span>{% if boards == 1 %}BOARD{% else %}BOARDS{% endif %}</a></p>
                        </div>                        
                        {% if profile.user == request.user %}
                            {% if request.path != '/u/' %}
                                <a href="{% url 'u:home' %}" class="btn orange">Add/edit boards</a>
                            {% else %}
                                <a href="{% url 'update_profile' %}" class="btn orange" title="Update your profile settings" rel="tooltip">Update profile</a>
                            {% endif %}
                        {% else %}

                            <form method="POST" class="unfollowuser"
                                data-id="{{ profile.user.id }}"
                                style="display: {% if is_followed %} inline-block {% else %} none {% endif %};">
                                {% csrf_token %}
                                <input type="hidden" class="unfollow_user_id" value="{{ profile.user.id }}">
                                <button class="btn orange" name="unfollow"><i class="fas fa-times"></i> Unfollow</button>
                            </form>

                            <form method="POST" class="followuser"
                                data-id="{{ profile.user.id }}"
                                style="display: {% if is_followed %} none {% else %} inline-block {% endif %};">
                                {% csrf_token %}
                                <input type="hidden" class="follow_user_id" value="{{ profile.user.id }}">
                                <button class="btn orange" name="follow"><i class="fas fa-user-plus"></i></i> Follow</button>
                            </form>

                            <div class="clear"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="profileBio match">

                    <div class="theBio">                        
                        <p>{{ profile.bio }}</p>
                        <div class="pSocial">
                            {% if profile.social_instagram %}
                                <a href="https://www.instagram.com/{{ profile.social_instagram }}" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                            {% if profile.social_twitter %}
                                <a href="https://www.twitter.com/{{ profile.social_twitter }}" target="_blank" rel="nofollow"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if profile.social_youtube %}
                                <a href="https://www.youtube.com/{{ profile.social_youtube }}" target="_blank" rel="nofollow"><i class="fab fa-youtube"></i></a>
                            {% endif %}
                            {% if profile.social_facebook %}
                                <a href="https://www.facebook.com/{{ profile.social_facebook }}" target="_blank" rel="nofollow"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if profile.social_twitch %}
                                <a href="https://www.twitch.com/{{ profile.social_twitch }}" target="_blank" rel="nofollow"><i class="fab fa-twitch"></i></a>
                            {% endif %}
                            {% if profile.social_pinterest %}
                                <a href="https://www.pinterest.com/{{ profile.social_pinterest }}" target="_blank" rel="nofollow"><i class="fab fa-pinterest-p"></i></a>
                            {% endif %}
                            {% if profile.social_vimeo %}
                                <a href="https://www.vimeo.com/{{ profile.social_vimeo }}" target="_blank" rel="nofollow"><i class="fab fa-vimeo-v"></i></a>
                            {% endif %}
                            {% if profile.social_weibo %}
                                <a href="https://www.weibo.com/{{ profile.social_weibo }}" target="_blank" rel="nofollow"><i class="fab fa-weibo"></i></a>
                            {% endif %}
                            {% if profile.social_vk %}
                                <a href="https://www.vk.com/{{ profile.social_vk }}" target="_blank" rel="nofollow"><i class="fab fa-vk"></i></a>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<section class="profileFollows">
    <div class="container clearfix">

        {% if followers %}

            {% for auser in followers %}

                <div class="followCard match">
                    <a class="followProfile" href="#">
                        {% if auser.creator.profile.picture %}
                            <div class="circle" style="background-image:url('{{ auser.creator.profile.picture.url }}');"></div>
                        {% else %}
                            <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                        {% endif %}
                    </a>
                    <div class="followInfo">

                        {% if request.user != auser.creator %}
                            <div class="followCardBtn">
                                {{ auser.followers }}

                                <form method="POST" class="unfollowuser"
                                    data-id="{{ auser.creator.id }}"
                                    style="display: {% if auser.followed %} inline-block {% else %} none {% endif %};">
                                    {% csrf_token %}
                                    <input type="hidden" class="unfollow_user_id" value="{{ auser.creator.id }}">
                                    <button class="naked" name="unfollowcard"><i class="fas fa-times"></i> Unfollow</button>
                                </form>

                                <form method="POST" class="followuser"
                                    data-id="{{ auser.creator.id }}"
                                    style="display: {% if auser.followed %} none {% else %} inline-block {% endif %};">
                                    {% csrf_token %}
                                    <input type="hidden" class="follow_user_id" value="{{ auser.creator.id }}">
                                    <button class="naked" name="followcard"><i class="fas fa-user-plus"></i></i> Follow</button>
                                </form>

                            </div>
                        {% endif %}
                        {% if auser.creator.username|length > 40 %}
                            <span><a href="{% url 'u:profile' auser.creator.username %}">@{{ auser.creator.username|slice:":40" }}<u class="tooLong" rel="tooltip" title="{{ auser.creator.username }}">...</u></a></span>
                        {% else %}
                            <span><a href="{% url 'u:profile' auser.creator.username %}">@{{ auser.creator.username }}</a></span>
                        {% endif %}

                        {% if auser.creator.get_full_name > 50 %}
                            <strong><a href="{% url 'u:profile' auser.creator.username %}">{{ auser.creator.get_full_name|slice:":50" }}<u class="tooLong" rel="tooltip" title="{{ auser.creator.get_full_name }}">...</u></a></strong>
                        {% else %}
                            <strong><a href="{% url 'u:profile' auser.creator.username %}">{{ auser.creator.get_full_name }}</a></strong>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>

            {% endfor %}

        {% else %}
            <p><strong>{{ profile.user.get_full_name }}</strong> has no followers right now.</p>
        {% endif %}

    </div>
</section>

{% endblock %}

{% block extra-js %}

    <script type="text/javascript" src="{% static 'js/ajaxactions.js' %}"></script>

    <!--- succes alert -->
    {% if messages %}
        {% for message in messages %}    
            <script type="text/javascript">
            $(function(){
              new PNotify({
                title: false,
                type: "success",
                text: {{ message }},
                shadow: false,
                delay: 5000,
                buttons: {
                    sticker: false,
                }
              });
            });
            </script>
        {% endfor %}
    {% endif %}

    <script type="text/javascript">
        $('#createwantboard').click(function(e){
            if(!$('#boardname').val()){
                new PNotify({
                  title: false,
                  type: "error",
                  text: 'You need to enter a name for your board',
                  shadow: false,
                  delay: 5000,
                  buttons: {
                      sticker: false,
                  }
                });                
                e.preventDefault();
            };
        })
    </script>

{% endblock %}