{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}
	Home
{% endblock %}

{% block body %}

<div class="profilePush"></div>

{% if profile.background %}
<div class="profileHero" style="background-image:url('{{ profile.background.url  }}">
{% else %}
<div class="profileHero" style="background-image:url('{% static 'img/profile-hero.jpg' %}">
{% endif %}

    <div class="profileMeta">
        <div class="profileBar">
            <div class="container clearfix">
                
                <div class="profileImageDetails clearfix match">
                    <a class="profileImage" href="{% url 'update_profile' %}">
                        {% if profile.picture %}
                        <div class="circle" style="background-image:url('{{ profile.picture.url }}');"></div>
                        {% else %}
                        <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                        {% endif %}
                    </a>
                    <div class="profileDetails">
                        <span>@{{ profile.user.username }}</span>
                        <h3>{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
                        <div class="profileStats">
                            <p><a href="#">
                                <span>{{ no_followers }}</span>FOLLOWERS
                            </a></p>
                            <p><a href="#">
                                <span>{{ no_connections }}</span>FOLLOWING
                            </a></p>
                            <p><span>{{ boards }}</span>{% if boards == 1 %}BOARD{% else %}BOARDS{% endif %}</p>
                        </div>                        
                        {% if profile.user == request.user %}
                            {% if request.path != '/u/' %}
                                <a href="{% url 'u:home' %}" class="btn orange">Add/edit boards</a>
                            {% else %}
                                <a href="{% url 'update_profile' %}" class="btn orange" title="Update your profile settings" rel="tooltip">Update profile</a>
                            {% endif %}
                        {% else %}
                            {% if is_followed %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="btn orange" name="unfollow"><i class="fas fa-times"></i> Unfollow</button>
                                </form>
                            {% else %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="btn orange" name="follow"><i class="fas fa-user-plus"></i></i> Follow</button>
                                </form>
                            {% endif %}
                            <div class="clear"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="profileBio match">

                    <div class="theBio">                        
                        <p>{{ profile.bio }}</p>
                        <div class="pSocial">
                            {% if profile.social_instagram %}
                                <a href="https://www.instagram.com/{{ profile.social_instagram }}" target="_blank" rel="nofollow"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                            {% if profile.social_twitter %}
                                <a href="https://www.twitter.com/{{ profile.social_twitter }}" target="_blank" rel="nofollow"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if profile.social_youtube %}
                                <a href="https://www.youtube.com/{{ profile.social_youtube }}" target="_blank" rel="nofollow"><i class="fab fa-youtube"></i></a>
                            {% endif %}
                            {% if profile.social_facebook %}
                                <a href="https://www.facebook.com/{{ profile.social_facebook }}" target="_blank" rel="nofollow"><i class="fab fa-facebook-f"></i></a>
                            {% endif %}
                            {% if profile.social_twitch %}
                                <a href="https://www.twitch.com/{{ profile.social_twitch }}" target="_blank" rel="nofollow"><i class="fab fa-twitch"></i></a>
                            {% endif %}
                            {% if profile.social_pinterest %}
                                <a href="https://www.pinterest.com/{{ profile.social_pinterest }}" target="_blank" rel="nofollow"><i class="fab fa-pinterest-p"></i></a>
                            {% endif %}
                            {% if profile.social_vimeo %}
                                <a href="https://www.vimeo.com/{{ profile.social_vimeo }}" target="_blank" rel="nofollow"><i class="fab fa-vimeo-v"></i></a>
                            {% endif %}
                            {% if profile.social_weibo %}
                                <a href="https://www.weibo.com/{{ profile.social_weibo }}" target="_blank" rel="nofollow"><i class="fab fa-weibo"></i></a>
                            {% endif %}
                            {% if profile.social_vk %}
                                <a href="https://www.vk.com/{{ profile.social_vk }}" target="_blank" rel="nofollow"><i class="fab fa-vk"></i></a>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<section class="profileFollows">
    <div class="container clearfix">

        {% if followers %}

            {% for con in followers %}

                <div class="followCard">
                    <a class="followProfile" href="#">
                        {% if con.creator.profile.picture %}
                            <div class="circle" style="background-image:url('{{ con.creator.profile.picture.url }}');"></div>
                        {% else %}
                            <div class="circle" style="background-image:url('{% static 'img/default-hero.png' %}');"></div>
                        {% endif %}
                    </a>
                    <div class="followInfo">
                        <div class="followCardBtn">
                            {% if con.followed %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="naked" name="unfollow"><i class="fas fa-times"></i> Unfollow</button>
                                </form>
                            {% else %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="naked" name="follow"><i class="fas fa-user-plus"></i></i> Follow</button>
                                </form>
                            {% endif %}
                        </div>
                        <span><a href="#">@{{ con.creator.username }}</a></span>
                        <strong><a href="#">{{ con.creator.get_full_name }}</a></strong>
                    </div>
                    <div class="clearfix"></div>
                </div>

            {% endfor %}

        {% else %}
            <p>This user is has no followers</p>
        {% endif %}

    </div>
</section>

{% endblock %}

{% block extra-js %}

    <!--- succes alert -->
    {% if messages %}
        {% for message in messages %}    
            <script type="text/javascript">
            $(function(){
              new PNotify({
                title: false,
                type: "success",
                text: {{ message }},
                shadow: false,
                delay: 5000,
                buttons: {
                    sticker: false,
                }
              });
            });
            </script>
        {% endfor %}
    {% endif %}

    <script type="text/javascript">
        $('#createwantboard').click(function(e){
            if(!$('#boardname').val()){
                new PNotify({
                  title: false,
                  type: "error",
                  text: 'You need to enter a name for your board',
                  shadow: false,
                  delay: 5000,
                  buttons: {
                      sticker: false,
                  }
                });                
                e.preventDefault();
            };
        })
    </script>

{% endblock %}